[2015-08-25 17:56] Downchuck opened #2 "Minimize lodash dependencies"
It looks like only a few methods from lodash are in use; the library is available in modular form:
https://www.npmjs.com/browse/keyword/lodash-modularized

[2015-08-25 18:06] Downchuck opened #3 "Bump inquirer version"
inquirer@0.9.0 is about half the size, as they switched to "rx-lite" from the much larger rxjs package.
They have also "fixed" their lodash dependency, though that one is including the full librayr (now the bulk of the distribution size).

[2015-08-25 18:14] dthree commented on #3
Nice. I know the semver says as much, but are you aware of any breaking changes with that switch?

[2015-08-25 18:15] dthree commented on #2
Yeah - was thinking about doing that. Will do.

BTW, this is a pretty simple fix. Do you think you'd have a chance to do a PR on this? That'd be very helpful.

[2015-08-25 18:16] Downchuck commented on #2
I think I can get that handled.

[2015-08-25 18:18] dthree commented on #2
Grt!

[2015-08-29 23:29] dthree commented on #3
@Downchuck snap I upgrade, and it totally broke Vorpal haha.

Vorpal uses a ton of the internals of inquirer as it gets down and dirty on UI manipulation, so I'm digging in to find what changed. 1/10th the size is definitely an enticing goal to get working.

[2015-09-01 18:30] #3 closed

[2015-09-01 18:39] dthree commented on #3
For the record, this is fixed :)

[2015-09-01 19:07] Downchuck opened #4 "vorpal exits if backgrounded in shell"
The usual CTRL+Z does not seem to be working with vorpal in default config.
It does not like to be put in the background, restoring (via fg) exits.

[2015-09-01 19:10] Downchuck opened #5 "expose rawParse to use minimist/commander"
Vorpal could expose rawParse(process.argv, { command: true|false}) to run a string through minimist or commander. This may be a special case.

I have an existing app, it's just using minimist for cli arguments in the usual form (app.js --arg items), and I'm working on the interactive CLI via vorpal. Trying to reduce redundancy when I can.

I am still working out how best to switch between command

[2015-09-01 19:32] dthree commented on #5
You mean in addition to `vorpal.parse`? I suppose I could literally map it to minimist if that helps.

[2015-09-01 19:36] Downchuck commented on #5
That's the idea, you'd map to minimist by default, with an optional second argument that'd run commander.js parse -- which would use your vorpal command list to return an object. Both are meant to be maps over to minimist/commander just in case it's needed.

Related to using this: on vorpal.parse -- how do I detect whether or not a command was found? Is there a default callback, like parse(argv, n

[2015-09-01 19:39] dthree commented on #5
It is meant to do exactly what you app does if you run it first. So it would technically display the help command.

Check out the `.catch` command (it's new, maybe I didn't document it yet): here's an example I pulled out of `wat`, which im working on:

[code]

[2015-09-01 19:41] dthree commented on #5
On the parse, I think im gonna do this:

[code]

[2015-09-01 19:46] Downchuck commented on #5
I like it.

[2015-09-01 19:52] dthree commented on #5
:)

Does the catch thing make sense?

[2015-09-01 20:16] Downchuck commented on #5
Yes, it makes sense, does just what I want.

[2015-09-01 20:17] dthree commented on #5
Perfect.

[2015-09-01 20:59] Downchuck commented on #3
fixed in 1.0.4; https://github.com/dthree/vorpal/commit/3e676e9fa0038893d777ca9a720a1f85bbc3de4e

[2015-09-01 21:22] dthree commented on #3
Fully fixed in `1.0.7`. Pressing the `tab` key still had some unexpected ramifications.

[2015-09-12 20:30] dthree commented on #4
I tried this and got it to restore - however the prompt seems to freeze.

https://github.com/nodejs/node-v0.x-archive/issues/3295

[2015-09-22 19:48] dthree commented on #5
@Downchuck Added this. Coming out in a release today.

[2015-09-22 19:48] #5 closed

[2015-09-22 19:52] dthree commented on #4
This looks like a `readline` issue.

[2015-09-22 19:52] #4 closed

[2015-09-22 20:16] dthree commented on #2
Okay this is dumb. I didn't realize I used so many lodash functions: as each sub-module comes with the overhead of a readme, license, etc. the total size ended up greater than importing lodash by itself.

:(

[2015-09-22 20:16] #2 closed

[2015-10-07 18:44] AljoschaMeyer opened #7 "Inconsistencies when reading 0 as argument"
The following code outputs `0` for the input `t -index 0`, but outputs `undefined` for the input `t -i 0`.

[code]

[2015-10-07 18:48] AljoschaMeyer opened #8 "Reading options beginning with a minus"
Would it be possible to support reading options starting with a minus?

In commander.js, `t -i -2` would assign -2 to `args.options.i`, whereas vorpal prints a friendly `Missing required option. Showing Help:`.
Tested on the same code as the other issue. `-i` or `--index` makes no difference.

[code]

[2015-10-07 19:03] dthree commented on #8
Good point. Yeah let me check this out.

[2015-10-08 13:07] lorneb opened #9 "example for nesting if at all possible"
Hi not sure if this even part of what Vorpal is all about, I did see the mode options,  but what I wanted to know was
1.  Can I use Vorpal to make nested command sets. I''l try to explain.  at the top level you might have  commands some of which take you down into a new level,  at which point you now have a new delimiter and a new set of commands,  one of which might be .. to take you back up a le

[2015-10-08 14:07] AljoschaMeyer opened #10 "options containing hyphens unrecognized"
Options containing a hyphen, e.g. `vorpal.command('t').option('a-b')` are not added to args.options when given in the cli.

May I ask why vorpal doesn't simply wrap commander for command-parsing? I love what vorpal does, but this seems like reinventing the wheel - unless there's an obvious factor I'm missing...

[2015-10-08 16:07] dthree commented on #10
Funny enough, I actually based the original code off commander. However, I needed it to do some things a little differently. For example, commander doesn't support multiple-worded commands, and this required a bit of refactor and deviation from commander's course. Vorpal also supports piped commands and will be supporting other bash logic such as `&&`, etc.

Does that clarify a bit? I'll definitel

[2015-10-08 16:12] dthree commented on #9
The `mode` command is probably the closest option you have to this. Vorpal doesn't support namespacing command sets per se, but when you separate out command groups by spaces, such as `get *`, it groups them accordingly in the help menu. You can then use the `catch` command to perhaps simulate the freezing of a "directory" or something.

Like if there was a command `get foobar`, and you did a comm

[2015-10-08 16:45] AljoschaMeyer commented on #9
Wouldn't it be possible to instanciate vorpal multiple times and give different commands to these instances? The main instance could then provide different modes, whose .action() function simply delegates to a certain instance.

Or would there be problems with multiple different session objects?

[2015-10-08 17:14] dthree commented on #9
Haha - you're really smart! Great idea - Vorpal actually supports this! The `vorpal.show()` command attaches a specific instance to the UI.

Try this:

[code]

[2015-10-09 01:36] lorneb commented on #9
Excellent thanks very much that certainly has given me a great start.
Are you happy to take questions via the Issues, or is there a better place?

[2015-10-09 02:07] dthree commented on #9
No probs :)

I'd wouldn't mind taking the questions to Stack Overflow: Vorpal is in its infancy (haven't started promoting it yet), but I fully intend it to become a major library. Your question above is a perfect SO-type question for it.

And If you have questions there and I don't see them, you can ping me on Gitter (see badge on readme) to remind me its there :)

[2015-10-09 13:59] AljoschaMeyer opened #11 "Optional and required arguments"
Hi, the issues just keep coming. I guess I'll have to take a look at the code soon and try to hack a pullrequest or two. I'm starting to feel bad for just posting these without trying to implement anything. Anyways, here we go:

[code]
`test foo` works as expected: `{ options: {}, required: 'foo' }`.
However:
[code]
`test foo` results in `Missing required argument. Showing Help:`

It would be grea

[2015-10-09 16:28] dthree commented on #11
Really, there's no problem at all. Vorpal is an infant so real-world feedback is very appreciated - issue or not!

That's a good idea, and should be pretty easy to implement.

[2015-10-09 18:27] #11 closed

[2015-10-09 18:27] dthree commented on #11
This should be good now.

[2015-10-09 18:28] dthree commented on #9
Closing this.

[2015-10-09 18:28] #9 closed

[2015-10-09 18:51] #7 closed

[2015-10-09 18:51] dthree commented on #7
Fixed.

[2015-10-09 18:56] AljoschaMeyer opened #12 "Fail fast when adding duplicate commands"
Guess I'll just drown you in feedback then.

Duplicate commands sit in the background until invoked, silently overriding each other. I also got a crash because of that (I think), which I unfortunately did not manage to replicate.

Especially with functions like vorpal-use, the user should at least be notified when a duplicate command is added. I didn't look how you implemented aliases, but the sam

[2015-10-09 19:10] dthree commented on #12
Haha!

[2015-10-09 19:58] dthree commented on #12
Vorpal's blowing up on HN... guess I'd better fix these fast :)

[2015-10-10 06:14] bestguy opened #14 "Using arrow functions"
Trying out ES6 arrow functions with Vorpal, but the `session` normally available via `this` does not work of course:

[code]

Though what we be the best way to use vorpal with arrow functions?

[2015-10-10 06:25] dthree commented on #14
Huh. Good one.

I'll have to do some more research into array functions to see if there's a way around this. Right now, the `session` is only exposed within the action, there's really no external reference.

[2015-10-10 07:33] AljoschaMeyer commented on #14
I've been using `vorpal.session.log('foo')`, which seemed to work. Anything I'm missing?

[2015-10-10 09:13] AljoschaMeyer opened #15 "Command names with capital letters"
Adding a command with capital letters does not work.

Running it (either correctly written or in lowercase) yields `Invalid Command. Showing Help:`.
The help does include this:
[code]

If forcing all-lowercase command names is intentional, a notification when an invalid command is added would be nice. If its unintentional: well, more stuff to fix =)

[code]
\* Not my actual code, please ignore js

[2015-10-10 13:59] AljoschaMeyer commented on #14
I wrote [this thing](https://github.com/AljoschaMeyer/vorpal-log) which pretty much depends on `vorpal.session.log()` to work - which it did in my very simple test cases. Or it would need another way to log from outside a command. I guess I could create a command which logs the arguments and then call it programmatically via `exec`. But that would be very, very hacky...

[2015-10-10 16:33] dthree commented on #14
@AljoschaMeyer that should be fine. It just won't work in Vantage, but you're not developing in Vantage.

As Vantage deals with remote sessions, the sessions get ridiculously tricky (on the developer end). Vantage.session refers to the local session available in the local console. This session will always be the right session in Vorpal, so you should be good :)

@bestguy TLDR: Use aljoscha's sugge

[2015-10-10 16:36] dthree commented on #15
It was intentional, but not the most intelligent foresight. I should change this.

[2015-10-10 17:12] dthree commented on #12
@melonmanchan was rad enough to fix this.

[2015-10-10 17:12] #12 closed

[2015-10-10 17:24] bestguy commented on #14
Got it, thanks for the tip!

[2015-10-10 18:03] melonmanchan opened #17 "Command remove does not work (_parent.commands is not accessible)"
It seems as if the _parent attribute of a command is not passed on properly upon initialization? Is it enough to simply pass the exports-object to the newly created command?

[code]

Should intended behavior when initializing the command be something like:

[code]
 instead of:
[code]

This would allow the parent object attributes to be properly accessible to the Command-object. Ran into this kink

[2015-10-10 18:05] dthree commented on #14
This is actually a good question for Stack Overflow, as I'm sure it's going to be asked a lot, and I'm trying to build up a community there, and there's a `vorpal.js` tag now. If you don't mind posting there, I can answer it :)

[2015-10-10 18:07] dthree commented on #17
Yeah - I think that's a remnant from Commander, which was structured differently. Go ahead and change it - it shouldn't break any tests.

[2015-10-10 18:21] AljoschaMeyer commented on #14
`vorpal.session.log `also does not work with vorpal-less.

I really think there should be a way to get the correct session outside of a command, instead of using a workaround.

[2015-10-10 18:24] dthree commented on #14
Good point.

I think that can be made possible, as Vorpal does execute commands (async or not) in sync, so I can just record the command instance that is running in the present, and then make a getter for that.

What do you think a good API command would be?

`vorpal.activeCommand()`?

[2015-10-10 18:31] AljoschaMeyer commented on #14
The most convenient thing would probably be if vorpal.session always referred to the correct session. Don't know if that's possible though.

Remember that one might call log from outside any command, e.g. for a welcome message at the start of the session.

[2015-10-10 18:40] dthree commented on #14
It's not, really, as it would break Vantage. In Vantage, there is no "correction session" globally, as sessions are based on the user's context. I intended `vorpal.session` to be an internal command.

There's another fib I don't really tell the user. `this` in an action is actually *not* the session - haha - it's one level deeper. It is a `CommandInstance` object, whose methods pipe to the session

[2015-10-10 18:57] AljoschaMeyer commented on #14
Does that mean anytime someone uses `this.log()` in a command, `vorpal.log()` would do the same thing?
And - just guessing naively without having looked at the implementation - if that's the case, couldn't `.delimiter()` be implemented similarly to `vorpal.log()`?

- - -

`vorpal.activeCommand` as a property sounds good.

In any case, a solid implementation should remove the need for any `this.foo

[2015-10-10 19:38] dthree commented on #14
Not totally. Logging works like this:

Say we have a command: `echo fitzbutz | reverse` (outputs `ztubztif`)

1. A CommandInstance is created. The "master" command is `echo`. `this.log` does a `commandInstance.log`.

2. That instance's log method says, "oh look, I have a child (pipe) command. Lets now execute `reverse` and pass `stdin: fitzbutz` into the args.

3. The reverse command says, "oh - I

[2015-10-10 19:56] AljoschaMeyer commented on #14
Yes, I might be slowly understanding how that stuff works.

Would you set `vorpal.activeCommand` to `null` after a command is done?

In that case, a method that correctly logs, independendently of when/where it's called would look like this, right?

[code]
This seems like a very convenient api, given the task is not trivial...

[2015-10-10 20:03] dthree commented on #14
That's correct and yes, I would set it to `null`. I'll definitely add this as soon as possible!

[2015-10-11 11:44] simov opened #19 "Pass minimist options to command/options"
:wave:

Since you are using `minimist` to parse the command options you have to allow your users to pass `minimist` options as well.

For example I may want to pass `{string: ['a', 'address']}` for my `connect` command to indicate that the `address` option should be treated as string always:

[code]

I may want to be strict about each command option, that's why probably an `options` argument for t

[2015-10-13 01:49] dthree commented on #17
You fixed this.

[2015-10-13 01:49] #17 closed

[2015-10-13 01:49] DavertMik opened #20 "Errors in actions are hidden"
Can't trace errors while running commands in non-interactive shell

@dthree

`.parse` calls `.exec`, so it eats the error when invoked through .parse, but not otherwise.

[code]

[2015-10-13 02:20] dthree commented on #20
Should be a fast fix.

[2015-10-13 02:21] dthree commented on #19
Could you please clarify? Like perhaps give a code example of what you would expect.

[2015-10-13 05:41] simov commented on #19
##### Vorpal

[code]

[code]

##### Minimist

[code]

[code]

##### Minimist + Options

[code]

[code]

[2015-10-13 05:44] simov commented on #19
I'm expecting the hexadecimal hash address option to be a string, **always**. You can check out the minimist's options [here](https://github.com/substack/minimist).

[2015-10-13 06:25] dthree commented on #19
Okay. Could I get your opinion on which you would prefer?

[code]
or maybe:

[code]

I'm not going to support all of the minimist options, as Vorpal does a lot more than just use minimist, so they don't all apply, but type-casting, I can agree with.

[2015-10-13 06:44] simov commented on #19
Ok, I haven't used any other minimist options so far, so probably they won't be needed, plus it may not blend well within your app.

1: How are you going to distinguish between description and type string?
[code]

2: Question: Is the following `types` method going to work for all of the `options` in this `command`? If that's the case: :+1:
[code]

[2015-10-13 06:47] dthree commented on #19
On 1, was just thinking it would always be an optional 3rd param. Don't really like it though.

On 2, yes - you got it. I like this one better as well. Does `types` sound like an intuitive method name?

[2015-10-13 06:49] simov commented on #19
Sure, `.types()` sounds good. If it's documented, then no problem.

[2015-10-13 06:49] dthree commented on #19
kk

[2015-10-13 07:31] dthree commented on #19
Okay this should be good, and I added it to the wiki.

https://github.com/dthree/vorpal/wiki/API-|-vorpal.command#commandtypesobject

[2015-10-13 07:31] #19 closed

[2015-10-13 07:33] simov commented on #19
Thanks :+1:

[2015-10-13 07:35] #20 closed

[2015-10-13 07:35] dthree commented on #20
Fixed.

[2015-10-13 07:35] dthree commented on #19
No probs :)

[2015-10-13 09:05] melonmanchan commented on #17
Yeah. I think there's still remnants of the Commander syntax somewhere, though. Might be wise to look into it.

[2015-10-13 10:36] AljoschaMeyer commented on #19
Documentation should probably also contain:
- which values are available (is it integer, float, or number? etc)
- what happens when typing doesnt work, e.g. typing 'foo' as an integer
- or if this simply delegates to minimist, explicitly state that and link to the corresponding documentation

- - -

What is your opinion on adding further validation options, e.g. 'nonzero', 'positive', 'nonempty',

[2015-10-13 10:50] simov commented on #19
@AljoschaMeyer linking to the minimist's docs would be good idd, but all the rest regarding validation should be part of another module IMO. And most probably there is such module already, it just have to be hooked in here.

[2015-10-13 16:12] dthree commented on #19
@AljoschaMeyer `minimist` basically supports `string` and `boolean`, and minimist is far more battle-tested than Vorpal is in the present. Doesn't seem necessary to get beyond that, and I intend Vorpal's API to have been invented based on necessity, not ideas.

So if I get several other people asking for complex typecasting, I'll add it. And then in that case, I would probably just make a method f

[2015-10-13 16:15] dthree commented on #17
Not to my knowledge. That was just an oversight.

[2015-10-16 04:00] scotthovestadt opened #22 "Feature request: Auto-complete when typing piped commands"
````reverse hello | rev````

Hit tab. No autocomplete.

Looks like it's possible to implement even with the API but would be nice to detect the pipe character and have it built in!

[2015-10-16 04:06] dthree commented on #22
Good point - this would be good to have.

Not sure yet whether this will be tricky or simple to implement. I'll check it out.

[2015-10-16 11:22] scotthovestadt opened #23 "BUG: Terminal breaks when input is too wide"
When I input past the width of the terminal, my input (in this case random numbers) goes onto the next lines.

[code]

[2015-10-16 11:42] Shakyamuni177te opened #24 "Links at the bottom of the wiki are just empty hashes"
Do you want me to fix those? I'd need to know what you wanted written in those boxes, or just the gist of the info...

[2015-10-16 14:24] Shakyamuni177te commented on #23
What OS are you working on? And what GUI?

[2015-10-16 16:10] dthree commented on #23
I can't reproduce this - what's your OS and terminal?

[2015-10-16 16:13] Shakyamuni177te commented on #23
Also, couple you post the code? So I can maybe help dthree look into it too? :)

[2015-10-16 16:16] dthree commented on #24
Whoops - forgot about that.

I added what I want to put there, just haven't done the links. If you could fill this in with the link (to eac Wiki page it mentions), that would be amazing!

[code]

[2015-10-16 16:19] Shakyamuni177te commented on #24
Absolutely. I'll do that now :).

[2015-10-16 16:21] dthree commented on #24
Thanks! :+1:

[2015-10-16 16:21] dthree commented on #24
Oddly, the footer doesn't read markdown links. Random. So, yeah, we have to use `<a>` tags.

[2015-10-16 16:24] scotthovestadt commented on #23
Mac OSX Yosemite, 10.10.4. Standard terminal. Checking to see if can reproduce in example projects. See attachment for video:

![blankthoughtfulhyracotherium](https://cloud.githubusercontent.com/assets/1831484/10547154/7ee6c768-73e7-11e5-82ee-361d102f2eca.gif)

[2015-10-16 16:24] Shakyamuni177te commented on #24
Done and tested working.

Thank you for the opportunity to work on this project. :)

[2015-10-16 16:25] dthree commented on #23
Huh. Could you download `inquirer.js` standalone and try an Inquirer prompt and see if its the same problem? Vorpal's prompt is based on Inquirer, so it might be his bug.

[2015-10-16 16:25] Shakyamuni177te commented on #24
Ok, seems not to now. Just a second...

[2015-10-16 16:26] dthree commented on #23
https://github.com/SBoudrias/Inquirer.js/

[2015-10-16 16:27] Shakyamuni177te commented on #24
Working again. Weird...

[2015-10-16 16:27] #24 closed

[2015-10-16 16:27] scotthovestadt commented on #23
Confirmed it reproduces in "calculator" example. Trying standalone Inquirer.

[2015-10-16 16:28] scotthovestadt commented on #23
Yes, it's Inquirer. What environments are you guys on where it DOESN'T happen for you? I'd like to let my users know.

[2015-10-16 16:29] dthree commented on #23
You already have people using Vorpal? That was fast.
I'm unfortunately developing on Windows. And tried it on Putty as well.

[2015-10-16 16:29] scotthovestadt opened #25 "Feature request: Control+C once breaks input, Control+C twice ends session"
It's feel natural, like you're in a terminal. People are going to expect it to work this way (like the NodeJS shell).

[2015-10-16 16:30] Shakyamuni177te commented on #23
Linux Mint, Cinnamon 64 bit. Confirmed works fine for me.

[2015-10-16 16:31] scotthovestadt commented on #23
Thanks guys, I'll look into the Inquirer side.

PS: Love Vorpal. Especially the built-in pipes.

[2015-10-16 16:31] #23 closed

[2015-10-16 16:32] dthree commented on #23
Filed it. And thanks man :)

[2015-10-16 16:34] dthree commented on #25
Haha - someone filed the behavior you're requesting as a bug, so I changed it from the default.

I have a method called `vorpal.sigint(function() { })`, where you can make sigint do whatever you want. Is this fine?

[2015-10-16 16:35] dthree commented on #25
I'm actually going to do more mature things - I'm going to add functionality to break a current command with control+c, which will optionally fire a method (like `command.sigint` or `command.break`), and cut execution of that command.

What do you think?

[2015-10-16 16:36] dthree commented on #24
Nice! Thanks!! :+1:

[2015-10-16 16:49] Shakyamuni177te commented on #25
Makes total sense to me. Just tested and it does feel odd to drop the delimiter after a single ctrl-c. Should require a double-tap.

[2015-10-16 16:50] scotthovestadt commented on #25
Yeah, adding a listener so people can exit if they feel like it works for me.

[2015-10-16 16:50] Shakyamuni177te commented on #25
Does Ctrl-C not end the command for you? It does for me.

[2015-10-16 16:51] Shakyamuni177te commented on #25
Drops me straight back to the ordinary shell.

[2015-10-16 16:51] scotthovestadt commented on #23
For anyone finding this on Google, here is a workaround:

Using ````require('cli-clear')()```` will reset terminal input and everything works correctly from that state. Do it once at the beginning of your app.

[2015-10-16 16:58] Shakyamuni177te commented on #25
Single Ctrl + C:

![test](https://cloud.githubusercontent.com/assets/11525524/10547963/78e9d042-742f-11e5-8c27-6542a87d8872.png)

[2015-10-16 18:21] dthree commented on #25
I'm okay with a double-tap by default - but what should the first tap do?
I could do something like:

[code]

How does that sound?

[2015-10-16 18:23] Shakyamuni177te commented on #25
First tap should quit back to the command prompt/delimiter. Second tap should exit to shell.

[2015-10-16 18:31] Shakyamuni177te commented on #25
So to start with you'd quit out of whatever you're doing and it would come up with, like, myapp$. The second tap it should quit you out of Vorpal entirely.

[2015-10-16 18:34] dthree commented on #25
and if you're already on the delimiter..

[2015-10-16 18:35] Shakyamuni177te commented on #25
Yeah, but I mean if a process is running. It should quit out of the process. Then, if you're on the delimiter it should quit back to shell. Does that make sense?

[2015-10-16 18:35] dthree commented on #25
Yeah. Okay cool.

[2015-10-16 18:36] Shakyamuni177te commented on #25
Sorry, I'd help if I could but I haven't had the experience with the code-base you have. I'll keep playing with it and experimenting with it, don't worry :). :8ball:

[2015-10-16 18:39] dthree commented on #25
Haha no probs :)

[2015-10-18 05:15] scotthovestadt commented on #22
I'll add this feature.

[2015-10-18 05:23] dthree commented on #22
That'd be cool. Check out the ._exec command in `index.js`

[2015-10-18 05:38] scotthovestadt opened #26 "eslint config file doesn't appear to be committed"
Running ````gulp lint```` yields many errors.

[2015-10-18 05:49] scotthovestadt commented on #22
I've made a pull request. Let me know if there's anything more I need to do to have it merged in!

[2015-10-18 05:50] scotthovestadt commented on #25
I think it should mimic the NodeJS shell by default. One ctrl+c should automatically break whatever command you're typing if you have anything typed. If your command string is empty, it should say ````(^C again to quit)```` and then a second ctrl+c should exit.

[2015-10-18 05:55] scotthovestadt commented on #26
Might also be a smart idea to add eslint ````gulp test```` to ````npm test```` so Travis CI will pick up on it for pull requests. After the config file is added.

[2015-10-18 06:23] dthree commented on #26
Ouch. I had it on, but was doing a lot of dev and so took it off. Putting it back on. :)

It's [xo](github.com/sindresorhus/xo)-linted, and properly configured for that.

[2015-10-18 06:37] #26 closed

[2015-10-18 06:37] dthree commented on #26
All good - enforced as well.

[2015-10-18 06:38] dthree commented on #25
Deal.

[2015-10-18 06:39] dthree commented on #22
Thanks! Looks good on cursory glance - I want to make sure it doesn't break more detailed use of autocompletion, such as on `wat`, which does some crazy things.

Could you rebase your branch with the linting I put in, and I'll try to get this merged as soon as possible!

[2015-10-18 06:58] scotthovestadt commented on #22
Done.

[2015-10-18 16:21] dthree commented on #22
Boom.

[2015-10-18 16:21] #22 closed

[2015-10-19 13:31] AljoschaMeyer commented on #14
I started looking at the code for this, and doesn't [vorpal._command](https://github.com/dthree/vorpal/blob/master/lib/vorpal.js#L46) already do more or less what we'd need here?

[2015-10-19 17:06] dthree commented on #14
Very clever - yes it does.

I didn't bring it up yet as I haven't fully tested it to ensure it covers every scenario, but it should. I also just want to expose it as a public method.

[2015-10-20 11:35] thetutlage opened #29 "Context for repl mode"
How about having context for repl mode , the way we can attach `context` with account nodejs repl

[2015-10-20 11:50] thetutlage commented on #29
I got it , nice work man

[2015-10-20 11:50] #29 closed

[2015-10-20 16:42] dthree commented on #29
I guess you figured out how to do it? :)

[2015-10-20 16:43] thetutlage commented on #29
Yes completely :+1:

[2015-10-20 16:46] dthree commented on #29
Great! And thanks :)

[2015-10-26 23:27] scotthovestadt commented on #14
Arrow functions would also help me out a little bit.

[2015-10-27 20:59] scotthovestadt opened #32 "Pressing tab to autocomplete in the middle of a string actually prints tab"
If I start typing my command:
````command-one param | command-two param````

Then I go back and try to edit command-one and change it to command-three, put my cursor here:
````com_ | command-two param````

Then I hit tab, it actually prints tab. No autocomplete. I think the code doesn't even think about the cursor position. Is it possible to react to the cursor pos?

[2015-10-27 21:54] dthree commented on #32
I think I intentionally check if the cursor is at the end, but maybe that's a bad idea. Should be a quick fix.

[2015-10-28 15:46] scotthovestadt opened #33 "BUG: vorpal.exec never fires callback with piped commands when using promises"
Looks like it affects promises only. The first command resolves, subsequent piped commands promise doesn't seem to be seen as resolved.

[2015-10-28 16:16] scotthovestadt commented on #33
This issue is this block in command-instance.js

[code]

It's assuming that the command will return a callback instead of a promise. In other places, both types are accounted for. The fix is pretty simple:

[code]

[2015-10-28 16:18] dthree commented on #33
Good find. Would you mind throwing in a PR for that?

[2015-10-28 16:24] scotthovestadt commented on #33
Done. If you wouldn't mind doing a release after you've verified, I would appreciate it.

[2015-10-28 16:42] dthree commented on #33
Thanks! :+1:

Path `v1.3.27` published for you :)

[2015-10-28 16:42] #33 closed

[2015-10-28 23:47] pgherveou opened #35 "Error stack trace is hidden when using promises"
The following just display a red Error: true instead of a full error logging
[code]

[2015-10-29 01:51] scotthovestadt commented on #35
It looks like the error object is just appended to the string: ````'Error: ' + err````. Probably need to look at the object and do more than typecast it.

[2015-10-29 01:52] scotthovestadt opened #36 "Feature request: History after exit"
I'd like the history to persist after exiting the shell, so if you re-enter the shell you can hit up arrow to see your previous command. Would you accept this as a PR with a toggle to turn it off? I'm thinking of using the temp dir to persist it (temporarily).

[2015-10-29 05:25] dthree commented on #36
Yeah - I've wanted to do this. I'd love help on it, but want to make sure we do it totally right.

As part of this (and as a first step), I want to make a sturdy, basic API for temp files, as that subject is coming up a lot in Vorpal.

[Wat](https://github.com/dthree/wat) implements a cross-platform temp file solution with a really small module, so perhaps we can do a similar thing and build it in

[2015-10-29 05:37] dthree commented on #36
Actually, just looked. Looks like I just use `os.tmpDir()`. I think the directory should be `{temp}/.vorpal/hist`, and then you can throw in a text file there for persistent history.

---
Then maybe for temp file access, we can have an API like:

[code]

[2015-10-29 06:01] scotthovestadt commented on #36
Do you think maybe it makes more sense to providing more of an object-oriented API that persists itself automatically to the OS's temp dir? Here's my approach:
[code]

Something along those lines. Thoughts?

[2015-10-29 15:58] dthree commented on #36
I'm totally down with that, which looks a lot like localStorage. We should just mirror the localStorage API in that case, IMO.

However, there should at least be one command that returns the location of a free-for-all localstorage directory, in case the user wants to do `fs` writes and reads, not just `key/value` assignments.

[2015-10-30 00:39] scotthovestadt opened #37 "Bug: "Missing required argument" if piped argument fails validation"
The help text for "Missing required argument" always shows the first argument in the pipe, regardless of which argument failed validation.

[2015-10-30 05:59] fnky opened #38 "Handle double quotation marks arguments as literal strings"
When passing arguments (or option values) surrounded with double quotes it should handle the input as literal strings and not split by any whitespace, nor should it parse it.

[code]

[code]

Currently only single quotation marks are supported. I would also propose quotation marks to be optional (both individually and collectively)

[2015-10-30 15:58] dthree commented on #38
Good point. I'll get to this as soon as I can.

[2015-10-31 01:51] #38 closed

[2015-10-31 01:56] dthree commented on #38
All good now.

Haha - that traced back to September commit where I was replacing double-quotes to singles and [accidentally replaced the regex](https://github.com/dthree/vorpal/commit/32dd6305ea2aa478cec085b6367638a80fe59b3b).

Whoops...

[2015-10-31 02:10] dthree commented on #15
This is fixed now.

[2015-10-31 02:10] #15 closed

[2015-10-31 02:16] #37 closed

[2015-10-31 02:16] dthree commented on #37
This is fixed now.

[2015-10-31 02:27] #35 closed

[2015-10-31 02:28] dthree commented on #35
Spot on, Scott. All good now. :+1:

[2015-10-31 02:50] pgherveou commented on #35
Cool well done

Sent from my iPhone

[2015-10-31 03:07] #32 closed

[2015-10-31 03:07] dthree commented on #32
Okay this was actually really tricky, but should be good now.

[2015-10-31 03:36] #25 closed

[2015-10-31 03:36] dthree commented on #25
Done :smiley:

[2015-10-31 03:50] #14 closed

[2015-10-31 03:51] dthree commented on #14
Okay, use `vorpal.activeCommand` to get the current `commandInstance`, which exposes the same methods as `this`. `vorpal._command` actually doesn't do this, so just use this new exposed property.

---

This should probably go into the wiki, if anyone has a chance.

[2015-10-31 06:24] scotthovestadt commented on #36
I am working on this and will submit a PR in the next week or so.

[2015-10-31 06:24] scotthovestadt commented on #36
Agree with mirroring the localStorage API. That was actually what I was thinking originally, verbatim.

[2015-10-31 17:53] dthree commented on #36
Nice and thanks for your help! :+1:

[2015-11-01 00:47] scotthovestadt opened #40 "How to validate command arguments?"
If I have a command that looks like:
[code]

If strategy can only be "insert", "update", or "upsert", for example, how do I use Vorpal to validate it?

[2015-11-01 01:45] dthree commented on #40
I would just do a manual validation. Something like this:

[code]

---

This is actually a good question that will probably come up a lot. Would you mind posting this on Stack Overflow? There's a `vorpal.js` tag you can use.

[2015-11-01 09:32] Shakyamuni177te commented on #40
I have posted a question on this:

http://stackoverflow.com/questions/33460454/validating-a-command-in-vorpal-js

[2015-11-01 16:45] dthree commented on #40
Thanks.

[2015-11-01 19:32] andrerpena opened #41 "Is it possible to use Vorpal outside its own shell?"
First. Thanks for this Project. It's awesome.
I was wondering if it's possible to run a Vorpal app outside it's own shell. I mean.. directly from the OS.
Thanks.

[2015-11-01 20:51] dthree commented on #41
Your welcome and thanks. :)

Do you mean to run it without the node runtime? Could you please clarify a little bit?

[2015-11-01 20:58] andrerpena commented on #41
Thanks for the reply.

Not without the Node.js runtime. I mean, I'm building an app called `quotr`. When I type `quotr`, it enters its own shell, in which I can type `help` and whatever command I implement.

This behavior is cool, but I'm thinking whether it's possible to expose these inner commands to the OS, without the need to type `quotr` first.

Example:
I have a command called `snapshot`. So

[2015-11-01 21:30] scotthovestadt commented on #41
You might want to look into ````vorpal.exec````, which would allow you to execute a "shell" command in any Node context (without the user manually typing the command into the shell).

[2015-11-01 21:33] scotthovestadt commented on #40
The problem with this approach is it won't validate the arguments until the command is executed, which is a problem when you are piping commands together. Additionally, if you log an error it'll just go to the piped command.

I think we need to add a "validate" method to each command that can be called to validate arguments when the command is initialized but before it's executed?

[2015-11-01 21:36] andrerpena commented on #41
Thanks for your reply.

Just so I'm clear. What you are saying is that, in my `mainApp.js`, I can read parameters that the user passed to the app and then "repass" these parameters to `vorpal` using `vorpal.exec`?

[2015-11-01 21:36] scotthovestadt commented on #41
Yeah, exactly.

[2015-11-01 21:37] scotthovestadt commented on #41
Vorpal also has the ability to do something like the "repass" automatically, ````vorpal.parse```` but I haven't looked into that at all. I'm currently using ````vorpal.exec```` for a use-case similar to yours.

[2015-11-01 21:39] andrerpena commented on #41
huumm... that's interesting. So, I supposed that, for this use-case, I'd never do `vorpal.show()`, I would just "repass" using either `parse` or `exec` and then exit.

Thanks @scotthovestadt and @dthree . I appreciate your help.

[2015-11-01 22:07] dthree commented on #41
Sorry just saw this again. Just use the `vorpal.parse(process.argv)`. That should parse the args and execute automatically.

[2015-11-01 22:11] dthree commented on #40
Okay I'm totally down with this.

[2015-11-01 22:15] scotthovestadt commented on #40
Re-open issue please!

[2015-11-01 22:16] scotthovestadt opened #42 "Hitting CTRL+C while in Inquirer prompt breaks everything"
The output looks like this:
[code]

You can still type but nothing happens. Only way to recover is hitting CTRL+C again.

[2015-11-01 22:42] andrerpena commented on #41
Yes it helps. I really appreciate your help @dthree . o/

[2015-11-02 00:26] dthree commented on #40
:smiley:

[2015-11-02 01:24] dthree commented on #41
Great! And no problem.

---

This is a really good question, and will undoubtedly come up with others. If you could post it on Stack Overflow as well,  that would be very helpful :smiley:

[2015-11-02 01:24] #41 closed

[2015-11-02 02:52] dthree commented on #42
Yikes! Okay will check out.

[2015-11-02 04:56] scotthovestadt opened #43 "If Vorpal is initialized but not shown, CTRL+C won't exit the process"
Prevents me from canceling unit tests. Probably the CTRL+C behavior should only apply if vorpal is being shown().

[2015-11-02 06:40] scotthovestadt opened #44 "CTRL+C twice won't exit process"
In my tests I have to hit CTRL+C three times. If I move the process.exit() call into the keypress handler instead of _sigint, it works correctly on the second keypress.

[2015-11-02 06:41] scotthovestadt opened #45 "First CTRL+C should fire cancel event so running commands can be cancelled"
Currently, my command keeps on running.

[2015-11-02 07:25] scotthovestadt opened #46 "CTRL+C clears the current command from the prompt and doesn't add it to history"
It should still be shown visibly on the command line UI, and you should be able to get at it via history. (This matches behavior of native command-line.)

[2015-11-02 17:51] dthree commented on #45
Yeah - this is a bit more tricky so was going to get to it at some point. Probably going to add in a `cancel` method to `vorpal.command`.

[2015-11-02 17:51] dthree commented on #44
What terminal are you using?

[2015-11-02 22:27] andrerpena commented on #41
@dthree, but what title would I use? If it's the same title and text as this issue, people will find on Google if they search it, wont they? Besides, the question title is too abstract. I think the best approach would be to mention this use-case directly in vorpal's help. People can even opt for using another CLI framework if they judge this is not possible just by looking at the docs.

PS: I've s

[2015-11-02 23:38] dthree commented on #41
I would call it `Invoke a Vorpal.js command from the shell`.

Stack overflow is good as it's the number one tech forum on the internet, and the odds of it coming up on a google search over a github issue is about 20 to 1. The problem is covered in the API Docs, just as most problems asked on SO are covered in documentation somewhere. Stack Overflow is good at pointing people to the right docs. I d

[2015-11-02 23:59] andrerpena commented on #41
Here you go @dthree : http://stackoverflow.com/questions/33489201/is-it-possible-to-create-a-vorpal-application-which-the-commands-output-goes-di

Feel free to answer :)

[2015-11-03 00:20] dthree commented on #41
Haha k thanks.

[2015-11-04 20:16] scotthovestadt commented on #45
Not sure a cancel method will work for long-running commands. I think we may need a cancel event?

[2015-11-04 20:16] scotthovestadt commented on #44
iTerm on iOS. I'll look into debugging this issue and providing a pull request.

[2015-11-04 20:50] dthree commented on #45
We can fire an event, but I believe we should have a `cancel` method that just fires a function for convenience. The only purpose of this is cleanup. For example, something like this:

[code]

What do you think?

[2015-11-04 20:51] dthree commented on #44
Thanks.

[2015-11-04 21:45] scotthovestadt commented on #45
Yeah, you're right. It's similar to the way Bluebird did it for Promises:
http://bluebirdjs.com/docs/api/cancellation.html

PS: Let's also support calling the cancel() method on a promise if it exists...?

[2015-11-05 03:40] scotthovestadt opened #47 "When piped commands error, the error is ignored"
*At least with Promises

[2015-11-23 16:03] timkurvers opened #48 "Inquirer.js' input types using odd-looking delimiter"
It seems that [Inquirer.js' input type](https://github.com/SBoudrias/Inquirer.js/#input----type-input-) renders rather strangely in Vorpal – lacking spacing and the green question mark:

<img width="236" alt="screen shot 2015-11-23 at 16 53 00" src="https://cloud.githubusercontent.com/assets/378235/11341531/17b5575a-9203-11e5-9964-290145e51ea6.png">

As opposed to the following in Inquirer.js:

<i

[2015-11-23 22:46] dthree commented on #48
I use `inquirer`'s input as the default REPL prompt, so I make some modifications to it. I'll have to clean that up!

[2015-11-30 06:37] scotthovestadt opened #49 "Better argument parsing"
There are a few types of arguments that can't be parsed in the REPL. For example, it's impossible to pass a JSON object.

I would like the argument parser to accommodate the following arguments:
[code]
[code]
[code]

I'm working on code to do this. I don't think it's actually that complicated. Do you agree with the spec?

[2015-11-30 09:25] scotthovestadt commented on #49
Please merge in https://github.com/dthree/vorpal/pull/51

Thank you!

[2015-11-30 10:09] timkurvers commented on #48
Thanks! Would you happen to know of any immediate work-arounds?

[2015-11-30 17:16] dthree commented on #48
I would just make it yourself:
[code]
This should work, I believe.

[2015-12-01 17:16] cayasso commented on #49
Any update on this PR? I am a little stuck waiting for this fix :+1:  thanks for this awesome project.

[2015-12-01 17:33] dthree commented on #49
Just merged and published.

[2015-12-01 17:34] #49 closed

[2015-12-01 21:42] cayasso commented on #49
AWESOME, thanks!

[2015-12-02 16:00] eliperelman opened #52 "Option function and default parameter is not executed"
In source diving the arguments passed to `command.option`, it appears that it accepts a 3rd and 4th parameter for defining a function and default value for the option, but it appears that these aren't actually being executed. In this test case, I was unable to get a default value or have the function execute. Am I doing something wrong, or is this just not supported yet?

[code]

[code]

[code]

[2015-12-02 17:29] dthree commented on #52
Haha - interesting find.

No, those aren't currently supported (what you find in the wiki is essentially what is supported), but it's funny it's there.

I copied a lot of the command logic originally out of TJ's Commander.js, and it looks like this may have been supported by him, and I never noticed.

Do you have need of this?

[2015-12-02 17:31] eliperelman commented on #52
I do. I currently use the deprecated nomnom package which allows you to specify an option's default value if not specified, and also a function, which you can use for validation or transforming logic. I write a wrapper around nomnom to handle this, but that means having to duplicate the vorpal plugin logic, which I'd rather not do. It would be nice to switch from nomnom to Vorpal.

[2015-12-02 17:35] dthree commented on #52
Okay cool. Could you do me a favor and detail the exact expected logic of the function? i.e. at what point in the action's lifecycle is it executed, etc.?

[2015-12-02 17:40] eliperelman commented on #52
According to commander, it appears it is done during the `parseOptions` method:

https://github.com/tj/commander.js/blob/master/index.js#L690

which I assume maps to `command._parseExpectedArgs`, but that's just a cursory guess.

[2015-12-02 17:59] dthree commented on #52
K I'll see if I can get to this soon.

[2015-12-02 19:51] eliperelman commented on #52
Experimented with a patch, which seemed to work well with my test case:

[code]

[code]

[code]

[code]

[code]

Thoughts?

[2015-12-02 20:08] eliperelman commented on #52
What's interesting about this approach is that the same function passed to `.option` could be used for validation as well. Maybe it could be sniffed to see if `value instanceof Error`, then return the error message instead of "missing required option". Just an idea.

[2015-12-03 00:36] eliperelman commented on #10
+1

[2015-12-08 23:06] scotthovestadt opened #55 "When installed as global NPM package, CTRL+C twice won't end process"
You can't kill it at all unless you manually ````pkill -9 node```` in another terminal.

[2015-12-09 02:37] dthree commented on #55
Oh, interesting. Got it.

[2015-12-09 18:31] scotthovestadt commented on #55
I've also discovered, at least in my project, although I'm returned to the command prompt when I kill the process via CTRL+C twice, the process isn't actually ending.

[2015-12-11 15:24] hiteshbalraw commented on #42
Hi Team,

Is above issue solved?

[2015-12-11 16:48] scotthovestadt commented on #42
Issue is still present.

[2015-12-13 23:17] jstrika commented on #9
I think you have a bug (version 1.4.0)

If you run example from above, and try to "switch a" twice, the instance will exit !?
[code]

[2015-12-13 23:58] jstrika opened #56 "Switching between instances will exit"
In one of your [examples](https://github.com/dthree/vorpal/issues/9), you demonstrated how to switch between multiple instances.
[code]
Using version 1.4.0, it does work on first ''switch'', but switching again to the same instance will exit.

[code]

[2015-12-14 06:12] scotthovestadt commented on #40
Can you review:
https://github.com/dthree/vorpal/pull/57

[2015-12-14 06:12] scotthovestadt commented on #40
@dthree Can you review https://github.com/dthree/vorpal/pull/57

[2015-12-14 18:04] dthree commented on #9
k

[2015-12-14 18:05] dthree commented on #56
Erm, could you please try adding a callback to that method? i.e.

function switch(vorpal) {
  vorpal.command('switch <instance>')
    .action(function (args, cb) {
      instances[args.instance].show();
      cb();
    });
  return vorpal;
}

[2015-12-14 18:07] dthree commented on #42
Hey Scott - sorry I haven't been very active recently. A lot of things are changing in life right now, so I haven't had too much time for OSS. Hope to get back fairly soon and close all these issues.

Otherwise, all your help's been very appreciated. I wouldn't mind adding you to the Vorpal team, if you're down with that.

[2015-12-14 18:11] scotthovestadt commented on #42
Don't worry about it; that's how open source is sometimes. You contribute
when you can, and mostly when you need it yourself. ;)

I would appreciate the abilities to accept pull requests and deploy code to
npm if possible.

-Scott

On Monday, December 14, 2015, dc <notifications@github.com> wrote:

[2015-12-14 19:33] jstrika commented on #56
Yep, that did the trick ;)

BTW: @dthree - great job with Vorpal !

[2015-12-14 19:33] #56 closed

[2015-12-14 22:02] dthree commented on #56
Great and thanks!

:smile:

[2015-12-15 11:32] hiteshbalraw opened #59 "After executing command I am getting this issue(not using vorpal prompt)"
vorpal
        .command('connect [username] [password]')
        .description('Connect to server.')
        .action(function (args, callback) {
            setTimeout(function () {
                // deleting options key from args
                delete args.options;

                var context = domain.create();

                // error handling in domain
                context.on('error', err

[2015-12-15 16:41] eliperelman commented on #55
I've had this same issue as well, I added the following as a workaround:

[code]

[2015-12-15 17:45] dthree commented on #55
Thanks for the insight @eliperelman , I'll check this out as soon as I can.

[2015-12-15 17:47] dthree commented on #59
Thanks. Could you please post this as a [StackOverflow](http://stackoverflow.com/questions/tagged/vorpal.js) question? In this way, I can help others with an answer as well.

[2015-12-16 04:41] hiteshbalraw commented on #59
​Hi Team,

http://stackoverflow.com/questions/34304036/after-successful-execution-of-vorpal-command-error-is-thrown
​

Please look into it ASAP.

Thanks.

Hitesh Baldaniya
Application Engineer | *@builtio*

On Tue, Dec 15, 2015 at 11:23 PM, dc <notifications@github.com> wrote:

[2015-12-16 17:26] dthree commented on #59
Thanks!

[2015-12-16 17:41] #59 closed

[2015-12-17 19:42] eliperelman opened #60 "Required options do not throw error"
I'm using Vorpal with the reduced test case below:

[code]

[code]

This command's action should not execute using the given command, as no `--required` value was specified. According to the current source in lib/util.js:199, missing required options shows a message in the console along with help. This does not happen.

[2015-12-17 20:53] fiatjaf commented on #36
I think it makes more sense to implement this as an extension, so the developer will have a chance to implement the history matching algorithm he prefers, choose where and how to save history etc.

The current history implementation, in https://github.com/dthree/vorpal/blob/6381c2c87081cf4ebaa3b903cc32081614131a5f/lib/session.js, could be removed and rewritten as an extension.

I have written this

[2015-12-17 21:25] scotthovestadt commented on #36
@fiatjaf I agree. I didn't think about it in these terms before. We should continue down this path.

[2015-12-18 04:13] #47 closed

[2015-12-18 04:14] #60 closed

[2015-12-18 04:18] dthree commented on #36
Good thinking. :+1:

[2015-12-18 04:22] dthree commented on #42
Okay Scott, giving you access now.

Feel free to make any patches you need, obviously add tests as you go. Just check with me before committing anything that alters the API, or any breaking changes.

Thanks for all your help!

[2015-12-20 00:52] fiatjaf opened #63 "Help for subcommands is difficult to read"
My journey trying to read the help for my own subcommands:

[code]

I still don't know how to do it, but perhaps vorpal shouldn't group the help for commands below a threshold? Maybe if the command group does not have more than 5 commands grouped than the help for them all will be shown on `help`? Perhaps this number is configurable? Or, better, we should have to group commands explicitly (or mayb

[2015-12-20 02:46] dthree commented on #63
I've been thinking that too. I really don't like how it is currently.

Perhaps it only does that if the length of the help is greater than the screen height? How does that sound?

[2015-12-20 03:03] fiatjaf commented on #63
Is that possible? Sounds like an awesome solution.

[2015-12-20 22:48] dthree commented on #63
Yeah should be pretty easy.

[2015-12-20 23:24] fiatjaf commented on #63
Meanwhile, how do I read the help for these subgrouped commands? Should I ask this on StackOverflow?

[2015-12-21 06:32] dthree commented on #63
Yeah - that would be a good SO question. But quick answer:

`help [command]`

such as:

`help type`

[2015-12-21 16:35] saelfaer opened #64 ".catch should not trigger on a command group"
when not implementing a catch hook, typing in a command of a group gives you the help for it's subcommands.

if however you implement a catch hook, the catch hook is triggered instead.

I think it would still be useful to show the help for a command group, instead of triggering the catch.

[2015-12-21 17:25] dthree commented on #64
Ah good point. Agreed.

[2015-12-22 10:59] saelfaer opened #66 "Help for sub-commands does not show options"
if I ask help for a subcommand:
[code]

if I change the command so it is a root level command:
[code]

[2015-12-22 11:01] saelfaer commented on #66
might be related to #63

[2015-12-22 21:00] berndb opened #67 "Input type 'password' shows characters while typing"
Until the return key is pressed, all password characters are shown as plain text:
[code]

After the return key was pressed, the characters are replaced with `*` symbols:

[code]

As a sensitive user, I would like my password to be already hidden while typing. `*` symbols should be shown from the very beginning.

Is there an option to achieve this?

---

Example code:
[code]

[2015-12-23 01:17] dthree commented on #67
Vorpal uses Inquirer.js inputs, so this would be a bug with Inquirer.js itself, I believe. Please file it there.

[2015-12-23 12:25] berndb commented on #67
Inquirer does it just fine and shows `*`s during typing.

From what I can see in the code, you intercept inquirer's key press events and then you output the characters directly to the screen. This is probably why the `*`s don't show up.

---

Example with Inquirer@0.11.0:

[code]

[code]

[2015-12-23 17:18] dthree commented on #67
Oh got it.

[2015-12-23 18:22] saelfaer opened #69 "Prompt validation does not visualize the output (errors)"
using inquirer a prompt with validate function should show the validate output, but with vorpal it is somehow omitted.

[code]

in Inquirer you can see this work perfectly in the `examples/input.js` example. however the error gets lost somewhere in the process within vorpal I assume.

[2015-12-23 22:46] sarus opened #70 "When showing vorpal from inside a callback ctrl-c twice does not exit"
I'm running some async init code before I show vorpal and so ctrl-c twice no longer exits vorpal as I'm stuck in my callback.  The idea here is that I only want to run vorpal if I can successfully connect to a database since all the vorpal commands are db related.

[code]

Is there an event or callback I can listen for to know when vorpal exists?  Right now hitting ctrl-c appears to be stopping vo

[2015-12-23 22:48] dthree commented on #36
See #36.

Implemented in `v1.5.0`.

[2015-12-23 22:49] #36 closed

[2015-12-23 22:49] dthree commented on #70
Dude you confused the hell out of my with your avatar...

[2015-12-23 22:50] eliperelman commented on #70
Haha nice.

[2015-12-23 22:51] dthree commented on #70
Related:

https://github.com/dthree/vorpal/issues/55

[2015-12-24 01:04] fiatjaf opened #71 "strange "Vorpal Prompt error""
I have this pretty small vorpal app: https://github.com/fiatjaf/fieldbook-cli. The first command, `auth`, triggers the creation of new commands (through `vorpal.emit()` and `vorpal.on()`), and it goes correctly, but then this bizarre error appears:

[code]

Which is strange, because my code is not calling `.prompt` twice.

I put a dummy error (this `EXIT()` function) on vorpal code to get the comp

[2015-12-24 01:33] sarus commented on #70
@dthree haha.  I was super confused when I first came across this repo as well.

[2015-12-24 01:37] dthree commented on #70
Haha - as you do. Even our positioning is the same...

[2015-12-24 01:43] dthree commented on #71
That's not an error with the Vorpal prompt itself. This prompt got triggered in a rather broad try / catch statement:

[code]
It looks like your program had an internal error while mid prompt, and so Vorpal just caught the error and decided to be the one to spit the results.

---

BTW, would you be able to throw this on Stack Overflow? Trying to keep support questions on that site for maximum bene

[2015-12-24 01:43] #71 closed

[2015-12-24 01:46] dthree commented on #71
Oh I think I found the problem BTW. You're using `vorpal.exit()`, and this isn't a supported command per the wiki. It's an internal command used by Vantage.js.

Just use `process.exit()` instead and that should fix your problem.

[2015-12-24 12:16] fiatjaf commented on #71
I'm sorry, I know it is better to post questions on StackOverflow, but I sincerely thought (and maybe still think) this is more a bug then a question.

Thank you for searching the bug for me, but the problem wasn't on `process.exit()`, but on https://github.com/fiatjaf/fieldbook-cli/blob/b3083a70b3ce12f137c7cb22cbe145eb9b9fce6c/index.js#L124. When I replaced

[code]

with

[code]

The error stoppe

[2015-12-24 17:15] dthree commented on #71
Okay I get what you're saying.

That's an interesting bug!

I definitely think it should be improved (that code section), but not removed. It's important that Vorpal knows there's errors and that it's the one that throws them, because sometimes Vorpal calls back to promises, and sometimes callbacks, and it needs to handle them uniformly. Additionally, in Vantage, if the error is thrown on a remote

[2015-12-24 17:46] fiatjaf commented on #71
That's a string. A string generated by the Vorpal option parser.

There were other similar code blocks that ended with `cb('text ${var}')`, and at least one other were causing the same error.

[2015-12-24 18:38] dthree commented on #71
Okay yeah, that's weird!

[2015-12-24 21:10] dthree commented on #55
Okay could you please try this out again with `v.1.5.1`. @eliperelman  @scotthovestadt

[2015-12-24 21:13] dthree commented on #44
I did a fix - could you please try this again? I can't reproduce it.

[2015-12-24 21:38] dthree commented on #42
Okay this should be good now. Can you please try it? `v1.5.2`

[2015-12-24 21:38] scotthovestadt commented on #55
@dthree It doesn't work on my end. No change in behavior.

[2015-12-24 21:39] dthree commented on #45
Captain epic (@jackyjieliu) here fixed this with https://github.com/dthree/vorpal/pull/62. I just tested this and fixed a final bug. Looks good.

[2015-12-24 21:39] #45 closed

[2015-12-24 21:40] dthree commented on #55
Rrrgh. I don't know why I still run Windows. Reproducing things sucks.

--

Do you have an example Vorpal project I can download globally to try this out myself?

[2015-12-24 21:44] scotthovestadt commented on #55
I'll take a crack at it now.

[2015-12-24 21:45] dthree commented on #55
Thanks. If you just publish something real quick with the latest, I'll try it out. If I can reproduce this, I'm sure it's a real quick fix.

[2015-12-24 21:46] scotthovestadt commented on #55
I don't know if I just didn't install it correctly before or if something in the 1.5.2 fixed it, but it works now. You can close this out!

[2015-12-24 21:46] dthree commented on #55
Yeeha! That closes 3 issues haha!

[2015-12-24 21:46] #55 closed

[2015-12-24 21:47] dthree commented on #70
Fixed!! `v1.5.2`.

See https://github.com/dthree/vorpal/issues/55#issuecomment-167161798

[2015-12-24 21:47] #70 closed

[2015-12-24 21:47] dthree commented on #44
Fixed `v1.5.2`.

https://github.com/dthree/vorpal/issues/55

[2015-12-24 21:47] #44 closed

[2015-12-24 22:04] scotthovestadt commented on #42
No luck.

[code]

[2015-12-24 22:12] dthree commented on #42
Can you show me the code with the inquirer prompt?

[2015-12-24 22:16] scotthovestadt commented on #42
[code]

[2015-12-24 22:18] #66 closed

[2015-12-24 22:18] dthree commented on #66
Fixed - `help` command didn't accept multi-word arguments, so didn't properly catch the command.

[2015-12-24 22:30] dthree commented on #42
Thanks. Checking it out.

[2015-12-24 22:35] dthree commented on #42
Oh - haha - it only breaks on multi-inputs. Looks like the Inquirer cancellation doesn't handle an array of inputs.

[2015-12-24 22:39] dthree commented on #42
Ugh. Cancelling inquirer prompts is literally the messiest part of my code, because Inquirer doesn't support command cancellation, so I have to hack it. This is going to take longer to fix.

[2015-12-24 22:41] dthree commented on #48
Vorpal extends Inquirer's prompt intentionally to omit the question mark and space. I've thought this over, and I'm not really going to change this. The workaround as above is really simple.

[2015-12-24 22:41] #48 closed

[2015-12-24 23:09] #43 closed

[2015-12-24 23:09] dthree commented on #43
If not shown I just kill the process right away. Effective in `v.1.5.4`.

[2015-12-24 23:09] dthree commented on #40
#57 fixed this, I belive.

[2015-12-24 23:09] #40 closed

[2015-12-24 23:11] dthree commented on #46
Huh? Please clarify. I just tried on a standard ubuntu shell, and if I type:

`$ foo bar and the` and then press `CONTROL+C`, it doesn't save that to history.

If I am misduplicating, could you please clarify a little with an example? Thanks.

[2015-12-24 23:41] scotthovestadt commented on #46
You're right, behavior isn't standard.

[2015-12-24 23:41] #46 closed

[2015-12-26 04:32] jackyjieliu commented on #69
throw the error instead of returning it
[code]

[2015-12-26 13:04] saelfaer commented on #69
@jackyjieliu will try, however I doubt that's going to be the issue, I'm positive that it is vorpal who surpresses the errors, since inquirer.js (used by vorpal) tells us to do it by returning an errorMessage.

see the third input in their examples. https://github.com/SBoudrias/Inquirer.js/blob/master/examples/input.js

[code]

[2015-12-27 01:55] dthree commented on #69
Got it. Will check out as soon as I can!

[2015-12-31 02:25] alessandrousseglioviretta opened #73 "Align error-message in code with the documentation"
An error message related to the correct command argument sequence does not reflect the documentation: "Put the required arguments first, and variadic in the back.". (See also gitter chat on Dec 29, 2015, 18:36 CET).

Thanks!

[2016-01-02 19:38] patrickdevivo commented on #67
+1 on a fix for this please. Any ideas?

[2016-01-08 21:19] fiatjaf opened #74 ".prompt() should return a Promise."
some methods of Vorpal (`.exec`, for example) return promises, while `.prompt` accepts a callback. Why not wrap this and return a promise instead?

[2016-01-08 23:04] dthree commented on #74
Just have to do the work on this one.

[2016-01-08 23:56] Shakyamuni177te commented on #74
I'll have a look into the issue see if there's anything I can do.

Also, I just had a job interview and it seems vorpal.js is well known enough for the people who were interviewing me to be aware of it already, and the people doing the interview seemed way ahead of the curve as far as new and emerging frameworks.

[2016-01-09 07:19] dthree commented on #74
Hey, thanks. And that's awesome! :fire:

[2016-01-09 18:25] dthree commented on #63
Any reason you closed this? I still would like to implement this!

[2016-01-09 18:40] fiatjaf commented on #63
I related this to https://github.com/dthree/vorpal/issues/66 in my mind, and thought they were treating of the same issue, but now that I reread what I had written I see this is a totally different issue.

[2016-01-09 19:35] richard-nkrumah opened #76 "Required argument of option forces the usage of that option"
I am trying to add a command that has an option with a required argument but the option itself should be ... optional. The following script has been stolen from another issue and shows the problem:

[code]

The following should execute the command but it does not:
[code]

Adding the option without the required username also misbehaves:
[code]
The command does not fail with the "Missing required ar

[2016-01-09 21:44] dthree commented on #63
Okay cool.

[2016-01-18 13:17] fiatjaf commented on #74
@Shakyamuni177te are you still doing this?

[2016-01-18 13:36] fiatjaf opened #79 "Autocomplete algorithm"
The code that searches for matches for autocompletion at https://github.com/dthree/vorpal/blob/9a8cee1295415f5c3185add7acde6f047571b9f3/lib/session.js#L314-L364 works well for most cases, but it doesn't support, for example, typing the middle of the name of the command. It could perhaps be replaced by one of [these](http://fiatjaf.alhur.es/js-search-engines-comparison/) libraries somehow.

Would t

[2016-01-18 14:07] ristomatti commented on #79
Not completely related but I used the autocomplete stuff just yesterday for creating tab completition to command arguments (values coming from a known list). I had some difficulties with it but eventually I got it working. I used the callback, commandInstance.match() function and a hacky reference to this.parent.ui.input(). I hope this would not break with the change :)

In case someone is interes

[2016-01-18 15:08] natachaS opened #80 "Remove 'options'"
How could i remove [options] and specify that a command should not take options ? Will an error be displayed then if the user enters 3 arguments instead of 4 ?

[2016-01-18 17:12] dthree commented on #80
Do you mean to an existing command? Please clarify a little.

[2016-01-18 17:16] dthree commented on #79
@fiatjaf got it. Would this suggested functionality mirror a bash CLI? My only requirement is that the autocompletion's functionality is an exact mirror of regular shell functionality. It's not clear when that proposal is. Could you give an exact example for me?

[2016-01-18 17:16] dthree commented on #79
@ristomatti If we changed anything breaking, we would obviously apply semver and bump minor / major versions appropriately.

However, for that very reason you mentioned, I have been thinking of making an alternative, simplified manual autocompletion function, as I agree it currently kind of sucks. Perhaps we could discuss this?

[2016-01-18 17:29] natachaS commented on #80
Thanks for getting back so quickly !
I meant i have set up  command <arg1> <arg2> set up but if the user goes in and types:

How can i return an error to the user stating that he entered too many arguments ? (my commands don't use any options).

[2016-01-18 17:36] dthree commented on #80
Thanks.

I looked at this - interestingly it looks like right now it's really permissive on *extra* arguments. It just eats them.

If you don't enter enough arguments, it automatically validates for you, but if you enter too many, it just ignores the extra ones.

Is there any particular reason ignoring it won't work?

[2016-01-18 17:39] natachaS commented on #80
No it still works but it could let the user know that too many arguments have been entered for extra validation.

[2016-01-18 23:11] ristomatti commented on #79
@dthree great ideas! The syntax looks simple enough, especially for the simple list example. But if you consider a list of words:

    var words = ['red', 'green', 'blue];

and a command:

    vorpal.command('print <words...>', 'Print words');

Would the second example cover a use case where Vorpal would autocomplete the words so that only the ones not already listed would be used as dynamic value

[2016-01-18 23:27] dthree commented on #79
It would do the default Unix-style handling, which in this case would not print anything if `red` was entered. But if `rojo` was another color and you entered `r`, it would print:

[code]

[2016-01-19 00:06] ristomatti commented on #79
I'll have think about that if I get it figured out. :) Not sure what you mean with the default Unix-style handling though. At least on my system (Linux Mint / bash) autocompletion for files works for multiple arguments also but I have to admit I don't remember if it has always been like that.

Anyhow, I don't want to sidetrack the conversation from the original issue more than this. The improvemen

[2016-01-19 00:08] dthree commented on #79
Thanks! :+1:

[BTW want a sneak peak at my next Vorpal pjt?](https://www.npmjs.com/package/cash) :smiley:

[2016-01-19 00:26] ristomatti commented on #79
It looks a lot like an attempt to solve some problems I've always had when using Windows (I've used Cygwin a lot in the past). Really impressive stuff based on just the description and screenshots. I'll definately keep that in mind for those special Windows moments. Thanks for sharing! I'll probably be in contact at some point later on. Namely when I get proper documentation and NPM package done f

[2016-01-19 00:35] dthree commented on #79
Cool and thanks! Yeah, I'd love to see it.

[2016-01-25 04:44] dthree commented on #79
@fiatjaf @ristomatti **ping**

I'm mid refactoring the autocompletion as gone over in this thread.

As this is a major refactor and the current design sucks, it's going to include breaking changes. Due to this, I'm going to deprecate `command.autocompletion()`, and introduce a new command, `command.tab()`.

I wanted to check with you guys (and anyone else who cares) on the name `.tab` - it's short

[2016-01-25 04:50] scotthovestadt commented on #79
My vote is ````command.autocomplete````, stripping out the existing implementation and doing a major version bump.

I don't think ````command.tab```` tells me what it does if I'm just reading code. I might be a little confused.

Your call.

[2016-01-25 04:53] dthree commented on #79
Thanks and I can see that. I just don't like the idea of hitting `2.0` over this little point. I can do `autocomplete`, but I do want to deprecate the other, and perhaps strip it when I have good enough reason to hit 2.0 (more changes).

[2016-01-25 10:52] ristomatti commented on #79
I have to say I partly agree with @scotthovestadt on the naming. `command.tab` does not really tell anything it does. `command.autocomplete` would in my opinion be semantically similar to `command.cancel` as it's stating the action to be done instead of what the user does.

I don't see though why stripping the old implementation would be necessary. It can just be marked deprecated and remove it wh

[2016-01-25 11:11] fiatjaf commented on #79
I like `command.tab`. it is short and means _tabbed autocompletion_, instead of another kind of bizarre autocompletion that someone could think of.

But since this issue was originally about the builtin autocompletion for _command names_, not user-provided autocompletion, I must ask: are you doing something about it?

[2016-01-25 11:23] ristomatti commented on #79
I can't quickly imagine what other autocompletion a user of a CLI module could expect to see, but how about `command.tabcomplete`? That'd be more descriptive while still being grammatically in the imperative mood.

[2016-01-25 15:12] jeff-1amstudios commented on #79
I like @ristomatti's idea of `command.tabcomplete`. In terms of command autocompletion, I just submitted a PR to output the list of matching commands (if more than 1), tidy up the longestMatch algorithm and invoke custom autocompletion only when the current command is 'cmd[space]'.  Shouldn't impact the changes we're talking about here by the sounds of it. https://github.com/dthree/vorpal/pull/83

[2016-01-25 15:15] jeff-1amstudios commented on #79
Also, my feeling is that autocompletion would be most awesome per-option. Eg I'd specify .option('--myOpt, 'description', ['val1', 'val2', 'val3'], and when the user enters `cmd --myOpt[space][tab] vorpal would autocomplete/print out the list of valid values.  Python prompt-toolkit does this _really_ nicely - see https://github.com/awslabs/aws-shell

[2016-01-25 17:24] dthree commented on #79
Haha okay thanks for all your guys input! On the votes, we have:

`autocomplete` +2
`tab` +1
`tabcomplete` +2

Next vote will tip it over (and someone can change their mind).

---

@fiatjaf yes I am! I'm mid a *full* re-write on autocompletion, not just command autocompletion. However, I need a little more data from you. My last question to you:

---

@jeff-1amstudios got it. See #83 for additiona

[2016-01-25 20:29] fiatjaf commented on #79
Ok, I'm sorry. I thought about the response to that, so I was kind of thinking that I had already sent it.

The answer is that it depends. What I wanted was actually not to mirror bash. I wanted autocompletion that looked inside the words of the commands, not one that only did prefix match. There's an example on the link I gave: http://fiatjaf.alhur.es/js-search-engines-comparison/ (start typing `

[2016-01-25 20:34] dthree commented on #79
Thanks. Yeah - I'm going to expose a totally raw method where you can do whatever you want.

---

Your link isn't pulling up anything for me... Just a Github ribbon. Tried it on Firefox and Chrome... could you possibly just give a quick example of what typing `vor` would do?

[2016-01-25 20:54] fiatjaf commented on #79
Wait a little, it's heavy javascript! It will load. Or don't. Well, it is just a demo of three autocompletion/fuzzy-search libraries with the same stock of words, which results each library yields. It doesn't matter. Let's forget about this. I'm happy with your refactor, it will solve all problems everywhere.

[2016-01-25 21:04] dthree commented on #79
Haha k. But your idea sounds cool, just trying to understand it.... I'm behind a proxy, so that might explain why the page isn't loading btw...

[2016-01-26 04:54] dthree commented on #79
See https://github.com/dthree/vorpal/pull/83

[2016-01-26 04:54] #79 closed

[2016-01-27 16:43] matthewoconnor-development opened #84 "optional arguments appearing in help menu"
Is there a way to have the help menu print without the ["your arg..."] appearing after the command? Fantastic cli tool but this little feature doesn't fit with our application. Any ideas would be great.

[2016-01-27 17:05] dthree commented on #84
Hey, thanks!

I happened to have it planned this week to introduce a `vorpal.help` method that will override the automated help. Would this work?

[2016-01-27 17:10] matthewoconnor-development commented on #84
Yes that would probably work nicely, its non critical so I can push it out as an update. thanks

[2016-01-27 17:11] dthree commented on #84
Sure, no problem.

[2016-01-28 17:19] dthree commented on #76
Yeah, someone did a PR on options a bit ago to fix another issue and it created this issue. I have to do a number on options to ensure its all set straight. For now, could you make it optional and do a manual validation in your `action` method?

[2016-01-28 17:22] dthree commented on #73
That Gitter chat is going to get lost very soon:

---

## Alessando:

Hi! I just started playing around with Vorpal and I have a question. I tried the very first demo command: vorpal .command('foo <requiredArg> [optionalArg]') .option('-v, --verbose', 'Print foobar instead.') ...
the help says: Usage: foo2 [options] <requiredArg> [optionalArg]
but the option must follow the required argument, it c

[2016-01-29 01:33] scotthovestadt commented on #67
Fixed. See: https://github.com/dthree/vorpal/pull/85

[2016-01-29 01:42] scotthovestadt opened #86 "Implement Babel 6"
- Compile with Babel 6
- Use Gulp to watch and compile code as you work
- Use NPM hook to automatically compile before published to NPM

[2016-01-29 02:58] dthree commented on #84
Okay there's a new command, `vorpal.help(fn)`, which lets you do a totally custom help menu.

To access the list of commands registered to vorpal, it's `this.commands`. You can play around with it from there.

[2016-01-29 02:58] #84 closed

[2016-01-29 03:04] dthree commented on #84
Wiki: https://github.com/dthree/vorpal/wiki/API-|-vorpal#vorpalhelpfunction

Feel free to add clarity to them if you want.

[2016-01-29 18:12] #67 closed

[2016-01-29 20:00] dthree commented on #67
:+1:

[2016-01-30 06:33] dthree opened #87 "Website"
Anyone good at making Single Page sites? I'm working on a concept for `vorpal.js.org`, but I don't have too much experience on responsive front-end sites, so it'll probably take me a bit.

If you're interested in helping, let me know and I'll shoot you what I've got cooking so far!

[2016-01-30 12:51] Shakyamuni177te commented on #87
I've done some before and I certainly wouldn't have a problem doing it. However, I know another web designer who is much, much better than me and just getting started freelance. I'll see if she's interested and cover the expenses out of my own pocket if you like :).

[2016-01-30 12:56] Shakyamuni177te commented on #87
Wing me an e-mail to peter.carter.mail@gmail.com with the specs and anything else you need, along with a provisional deadline if you think one is appropriate and I'll make sure it gets done.

[2016-01-30 13:59] sarcadass commented on #69
I've got the same problem here,

[2016-01-30 23:28] dthree commented on #87
Thanks @Shakyamuni177te , as gone over in email.

---

I got the domain registered based on Vorpal `gh-pages` branch, and put up a very basic starting template for site. Suggestions / contributions appreciated!

http://vorpal.js.org/

[2016-01-31 18:58] #86 closed

[2016-01-31 21:13] scotthovestadt commented on #74
Done.

[2016-01-31 21:13] #74 closed

[2016-01-31 21:19] scotthovestadt commented on #69
This is a tough one since Vorpal has completely taken over rendering, so it'll probably also have to take over looking for the validate parameter, calling it, and rendering the output.

[2016-01-31 22:44] dthree commented on #74
:+1:

[2016-01-31 22:45] dthree commented on #69
Yes, that's correct.

[2016-02-01 10:12] Shakyamuni177te commented on #87
The site looks very good as is but I will have a look at the code this weekend when I'm off work and hopefully there is something I can improve further -- I have a feeling there are some subtle improvements we can make to the stylings :). Also, I will see if there is a way Vorpal.js will help with the website we're putting together at work.

[2016-02-01 17:11] dthree commented on #87
Okay great! Yeah there's room for a ton of improvements!

[2016-02-02 23:43] dthree commented on #87
Okay, I've got the basics for the site done, and just submitted to HN, wish me luck! :smile:

[2016-02-04 03:35] #87 closed

[2016-02-04 04:36] kevinSuttle opened #91 "Multiple choice type?"
Example from Yeoman.

<img width="745" alt="screen shot 2016-02-03 at 11 34 54 pm" src="https://cloud.githubusercontent.com/assets/95672/12805925/d793d872-cace-11e5-8c11-02e119623015.png">

Is this possible with Vorpal?

[2016-02-04 04:37] dthree commented on #91
Yes it is! Vorpal uses [Inquirer.js](https://github.com/sboudrias/Inquirer.js) for prompts, which was built for Yeoman originally. @sboudrias

[2016-02-04 04:37] #91 closed

[2016-02-04 07:34] kevinSuttle commented on #91
:+1: Thanks!

[2016-02-04 07:35] dthree commented on #91
No problem. :smiley:

[2016-02-05 13:19] MatteoGgl opened #92 "Outputs delimeter+command after giving a command in GitBash (Windows 7)"
I was just trying the tutorial linked in the front page and when testing it, my CLI interface has an error in displaying the output:

[code]

Outputs works correctly on Windows cmd.

[2016-02-05 16:14] dthree commented on #92
What OS / terminal?

[2016-02-05 16:16] MatteoGgl commented on #92
Terminal is GitBash (MINGW64), installed with Git for Windows. OS is
Windows 7.

On Fri, Feb 5, 2016 at 5:14 PM, dc <notifications@github.com> wrote:

--

Matteo Guglielmetti

*Web developer*

*Click Shop | Komlab*Passaggio della Torre dell’Acqua, 2

35016 Piazzola sul Brenta (PD)

T. 049 635884

[2016-02-05 16:58] Shakyamuni177te commented on #87
Spoke to the web designer and she says she'll take a look at the project over the weekend to see if there's anything she can do to fix it up. We agree there is a potential "White Space" issue but are unsure how to proceed at present. Will seek additional consultation. Just looking into issues with promises myself at the moment, spurred partly by the promises within your own code;

[2016-02-05 17:25] dthree commented on #87
Thanks! Appreciate it!

[2016-02-05 17:26] dthree commented on #92
Okay thanks I'll check it out.

[2016-02-06 08:49] cameronjroe opened #93 "Using with babel, getting an error"
I'm using vorpal with `require('babel-core/register')` and getting an error `_vorpal2.default.command is not a function` when I try to run it.

[2016-02-06 08:55] cameronjroe commented on #93
nvm, I needed to call `vorpal()`

[2016-02-06 08:55] #93 closed

[2016-02-06 10:25] paglias opened #94 "Error event"
Would it be possible to have an event that catches all errors so we can respond accordingly?

For example every time I throw an error in `command.validate()` (fyi, it's not documented in the wiki) or `command.action()` I want to log the error somewhere and output a friendly error message.

[2016-02-06 17:17] dthree commented on #94
Wouldn't you want to handle the error based on the context of the command?

I mean, I can have vorpal emit a global duplicate event of `error`, but I wouldn't want to suppress local errors.

Could you please explain a bit more? Thanks.

[2016-02-06 17:17] dthree commented on #93
:+1:

[2016-02-06 18:20] paglias commented on #94
@dthree thanks for the quick response!

I'm used (in web apps) to have a global error handler and I think it would be useful for vorpal too:

[code]

[code]

This way you can have a central place where all error are handled so you can have a standardized handling and don't have to duplicate logic. This error handler should be passed the same context as the command that originated the error so that

[2016-02-06 18:23] paglias commented on #94
You could do something similar by having an function to handle errors and call it like this:

[code]

but it would require to wrap all the code in `try/catch` code to correctly route errors to the specific handler

[2016-02-06 19:09] dthree commented on #94
Okay I guess I'm okay with this:

[code]

BTW, when you programmatically execute Vorpal commands, this is already covered:

[code]

[2016-02-06 21:15] paglias commented on #10
Something that could be related to the same thing:

if you pass a literal argument value in quotes `command "-value"` it's not recognized as an argument but in this case as an option with name `value`

[2016-02-07 22:28] AljoschaMeyer opened #95 "Alternative command implementation"
These are just some thoughts about an alternative way to implement commands, no actual implementation done. It might be overkill, result in a weird API, or plain unnecessary, but I might as well post this here. Idea came after reading this [introduction to frp](https://gist.github.com/staltz/868e7e9bc2a7b8c1f754). I hope this is not just incoherent mumbling, but acutally understandable.

Basic con

[2016-02-08 20:27] dthree commented on #95
Thanks and received! I'll have to spend some more time thinking this over, but this is possibly something we can implement in the future.

[2016-02-09 21:27] shayne opened #96 "Reference Error: ui is not defined"
As of vorpal 1.8.8 I'm getting the following when issuing `vorpal.ui.redraw.clear(); vorpal.ui.redraw.done()`

[code]

[2016-02-09 21:56] scotthovestadt commented on #96
Looking into it.

[2016-02-09 21:58] dthree commented on #96
Thanks.

[2016-02-09 21:59] scotthovestadt commented on #96
It looks like the function is ````ui.redraw.clear````and ````ui.redraw.done````.

@dthree Confirm that's intended?

[2016-02-09 21:59] dthree commented on #96
yeah that's weird. What's calling that?

[2016-02-09 22:04] scotthovestadt commented on #96
The issue is that those methods are on ````UI.redraw.clear```` and ````UI.redraw.done````, not actually on the UI class. Since the UI is a singleton we can inject the reference to it but it's just weird design that wasn't caught when we moved to Babel. I'm working on it, seeing if it's possible to put together a test case.

[2016-02-09 22:05] dthree commented on #96
? Not sure what moving to Babel does to this?

[2016-02-09 22:08] scotthovestadt commented on #96
@dthree It's because UI wasn't a ````class```` before, it was just an object, so the redraw function is a little weird. I think I've submitted a fix (please review). I'd like to get a test case for this type of thing too.

[2016-02-09 22:11] dthree commented on #96
Okay - looks okay. Could you look at this though:

https://github.com/dthree/vorpal/blob/e96e37daf2b8886155f219d83639a013a1a1f314/lib/ui.js#L569

UI already has some... interesting functionality in that it has to extend global for a single instance. This is really important, so I want to make sure these changes don't mess with that.

[2016-02-09 22:14] scotthovestadt commented on #96
Yeah, I looked at this earlier, I think it's basically a singleton. It's interesting design but I don't see an issue with it.

[2016-02-09 22:15] dthree commented on #96
Okay. Go ahead and merge, and I'll publish. :+1:

[2016-02-09 22:16] scotthovestadt commented on #96
Should be ready for publish but if @shayne can verify it solves his issue that'd be ideal.

[2016-02-09 22:20] dthree commented on #96
Okay we'll wait up a bit for him. I think I stumbled into this as well yesterday but didn't have time to look into it, so I'll check it out on my pjt.

[2016-02-09 22:48] dthree commented on #96
Okay I pretty thoroughly tested it. Published, but want to wait for @shayne before closing this issue.

Thanks for your help @scotthovestadt - I'm happy Vorpal has a bus factor of 2 now :smiley:

[2016-02-09 22:57] shayne commented on #96
This works great. Amazing speed. :trophy:

[2016-02-09 22:57] dthree commented on #96
Great!

[2016-02-09 22:57] #96 closed

[2016-02-09 23:10] shayne commented on #42
Running into this as well... where's the like button? :+1:

[2016-02-09 23:27] dthree commented on #42
Got it. This one's... gnarly. Will try to work on it some more soon.

[2016-02-12 10:29] matt-oc opened #98 "y/N command issue?"
I have noticed when typing exit or quit to bring up the y/N prompt if i type "y" it quits as expected but if I type N in shows the delimiter but doesn't seem to enter the repl again, commands cant be entered and need to ^C to get out of it. This may be something I have done wrong, just wondering if you have come across it before. thanks

[2016-02-12 17:10] dthree commented on #98
I think this is an issue on Windows. I'll check it out further. But in the meantime, I'm thinking of getting rid of the `y/N` on quit. What do you think?

[2016-02-12 22:33] matthewoconnor-development commented on #98
It is on mac I am having the issues, I think if it just exited it would be better alright, no need for the y/n prompt. I do like the fact quit works as exit too, I would keep that for sure.

[2016-02-13 00:11] mvayngrib opened #99 "Conflicting contexts between `mode.init` and `mode.action`"
for discussion, not a demand :)

- state. Currently i want to save some state in the mode after init(), but not sure how to access it in action(). I can use a global state of course...
- emit event on exit.

[2016-02-13 00:38] dthree commented on #99
kk. Event is easy!

On state, we just need to nail a proposed API.

For instance, you could always use `this.parent.myRandomVariable`, and that would last the duration of a Vorpal session. In an action, `this` is the `commandInstance`, which lasts for that command. `this.parent` is the user's session object. So something like this could work:

[code]

[2016-02-13 00:56] mvayngrib commented on #99
right, event i assume can just be emitted in `_exitMode`

i was actually trying to use `this`, but somehow in the `init` and `action`, `this` was different even though both were a CommandInstance

[2016-02-13 01:17] scotthovestadt opened #100 "Run validation before any commands start running"
Let's say I have the following commands:
[code]

In this use-case, let's say I want to validate the file extension before running a command. I add the validate method, but it won't run until _after_ the whole file has been read in and transformed. In my use-case, that may take hours.

I'd like the validation to run immediately before any command starts running.

@dthree Any thoughts?

[2016-02-13 01:36] scotthovestadt opened #101 "Async validation"
Validation shouldn't need to throw an error. It doesn't fit with the way the rest of the code works. It should be allowed to return a promise or act on a callback like everything else does.

I need async validation.

@dthree Any concerns?

[2016-02-13 01:43] scotthovestadt opened #102 "Normalize all user-provided functions to promise via utility method internally"
To ensure that all async user-provided functions can use either a callback or a promise, a utility method should be created that normalizes everything into returning a promise. It'll simplify the code.

We may also want to consider using Babel's async/await to further simplify the code.

@dthree Thoughts?

[2016-02-13 02:38] dthree commented on #102
I agree with standardizing it. Additionally, it would be good to consistently permit an optional sync response as well (simply by the user not passing in a callback to the method).

However, isn't async/await ES7 experimental? Not sure I want to get into that.

[2016-02-13 02:40] dthree commented on #101
I recently updated it (like 2 days ago) so you can just return `true`, or `false`, or a message.

https://github.com/dthree/vorpal/wiki/api-|-vorpal.command#commandvalidatefunction

I agree with async as an option, sorry, I just hadn't gotten to it. :+1: on implementing.

[2016-02-13 02:45] dthree commented on #100
It should run for a single command. Are you saying that the validate for specifically the piped commands doesn't happen? If so, yeah, that's a bit tricky. You would have to throw it in right around here:

https://github.com/dthree/vorpal/blob/master/lib/vorpal.js#L919

[2016-02-13 02:59] dthree commented on #99
I agree

----

Oh, well that's just a bug if those two aren't the same. Can you please check and see if `init` is running under the `session` context? i.e. `this.foo === this.parent.foo`

[2016-02-13 15:23] mvayngrib commented on #99
i've been trying to write a test for it, but i'm not sure how to trigger an action within a mode:

[code]

[2016-02-13 17:10] dthree commented on #99
Check out the Vorpal UI library - these commands should do the trick:

https://github.com/dthree/vorpal/wiki/api-|-vorpal.ui#uisubmittext

[2016-02-13 17:32] mvayngrib commented on #99
ended up using exec after all :) see #103

[2016-02-14 02:29] scotthovestadt commented on #100
Thanks for the pointer. I am going to implement this weekend. I need it.

My tool, each command can take several hours - days even. It renders a progress bar... but I really need to validate all commands in advance. Some of the validation involves HTTP calls.

[2016-02-14 02:32] dthree commented on #100
K got it.

[2016-02-14 02:35] scotthovestadt commented on #102
Yeah, it's ES7... but probably the most widely used experimental feature in the history of JavaScript. You should play with it. It changes everything.

You can setup Babel to compile it to generators, which are a part of NodeJS now.

[2016-02-14 03:23] dthree commented on #102
I'll check it out.

[2016-02-17 14:08] matt-oc commented on #98
@dthree Any update on this issue? I'm happy to fork and remove the y/N myself but wont bother if you have a fix coming.

[2016-02-17 17:08] dthree commented on #98
Not mid anything, trying to get to it soon. Feel free to jump in - it's an easy PR. :sunglasses:

[2016-02-17 19:24] mvayngrib opened #104 "mode should be just like parent"
for discussion

right now mode behaves differently from the parent vorpal, and thus the examples such as SQL and REPL are very primitive. I would argue that mode should be just like vorpal, and then SQL and REPL can work just fine through `catch('[command]')`, and modes can be fully interactive.

[2016-02-17 23:26] dthree commented on #104
Could you please clarify a bit with actual examples? I'm having a little bit of trouble picking up what you mean.

Is it that you want several types of commands when in a mode, and to have the full Vorpal API as being separate from when you aren't in a mode?

In this case, I've found the best solution is to just create multiple instances of Vorpal, and toggle them with `.show()`:

[code]

Does thi

[2016-02-18 00:06] mvayngrib commented on #104
@dthree good idea! will try it out

[2016-02-18 00:28] dthree commented on #104
Great!

Mode was intended to just be a special command, sort of like a custom `catch` command. It wasn't intended as a huge end-all. I personally have found several use cases, but none were major.

---

If my idea works out, would you mind posting your question on StackOverflow with the `vorpal.js` tag? I think you're the third person whose asked me a question like this, so it would be good to hav

[2016-02-18 00:41] mvayngrib commented on #104
absolutely, will do after I give it a try (may take a day or two to get to it, busy)

[2016-02-18 01:54] dthree commented on #104
Okay great no problem.

[2016-02-18 01:54] #104 closed

[2016-02-18 03:54] scotthovestadt opened #105 "vorpal.exec should return Promise"
@dthree Technically a breaking change but I think is important for consistency. Agree?

[2016-02-18 04:24] dthree commented on #105
It.... does... doesn't it?

[code]

[2016-02-18 04:53] scotthovestadt commented on #105
Something else must be wrong or I just missed something. Thanks.

[2016-02-18 04:53] #105 closed

[2016-02-18 04:58] dthree commented on #105
No probs. :+1:

[2016-02-18 11:46] matt-oc commented on #98
@dthree I quickly removed the y/n business and it works great, any thoughts on perhaps an alternative more generic text for the "Exits instance of vorpal" in the help menu? It doesnt make alot of sense (in my application at least) to have it say that.

[2016-02-18 17:07] dthree commented on #98
Sure - could you please change it to say `Exits application`? It should be in `./lib/vorpal-commons.js`. Ensure you do separate commits for these two changes.

:+1:

[2016-02-18 17:15] mvayngrib opened #106 "no-arg option support"
some options, like --force, don't take an argument. Is there a way to specify such an option?

right now i have something like:

[code]

and I'm running:

[code]

and get the missing argument error (because `someProviderName` is interpreted as an argument to the option, and <handle> is left undefined):

[code]

[2016-02-18 17:35] dthree commented on #106
This is a big problem, it's been annoying me as well. Minimist, the arg parser, doesn't really take this into account so I really have to get under the hood to fix. Will do soon.

[2016-02-18 17:36] mvayngrib commented on #106
@dthree awesome, thanks :)

[2016-02-19 15:30] mvayngrib commented on #104
@dthree looks like it works well except for the sigint handling. Does the below make sense?

[code]

[2016-02-19 17:08] dthree commented on #104
Good point.

I have an undocumented command that overrides default SIGINT, you can use that. I may make it official soon. Here's a usage example:

https://github.com/vorpaljs/cash/blob/master/src/index.js#L142

[2016-02-19 23:43] da70 commented on #10
[ Accidentally wrote this in the PR instead of this ticket.  Moved it here. ]

Hi,

Just submitted a PR for this.  Yesterday I was trying to add a `--dry-run` option and noticed it wasn't passing through.  I debugged and found the cause and came up with various solutions, then found this open ticket.

The cause:

In `util.buildCommandArgs`, this line:
[code]
...normalizes `o.long` to "dryrun", but

[2016-02-20 04:51] dthree opened #109 "Remove Babel runtime"
@scotthovestadt would like to discuss this with you, simply because the `babel-polyfill` and `babel-runtime` modules which are now required for Vorpal take up 2.89MB on a raw download. A few useful shims to me is not worth this.

One of the most important aspects to Vorpal to me is the size. I want it to be a lightweight plug into an app, and right now it makes any app monolithic (adds 5.5MB).

[I

[2016-02-20 12:22] ristomatti commented on #109
@dthree would it make sense to use `babel-cli` and do with the syntax it can compile without the use of polyfills? The babel modules would be just `devDependencies` in `package.json`. The `.npmignore` file could be configured so that only the module root and the `dist` directory would be included in the NPM package.

James Nelson has written a nice example of that kind of configuration in his post

[2016-02-20 17:06] dthree commented on #109
@ristomatti that's what I have normally been doing, however apparently in order to use some shims in Babel 6, it requires a polyfill lib in the devs. This may be incorrect, I just don't know enough about Babel to give a correct answer at this time, and @scotthovestadt seemed to think this was the case, at least for a bit.

[2016-02-20 22:43] ristomatti commented on #109
@dthree yes so it seems. Promises seem to require that. Since Promises are something that really make a big impact on the code readability but seem to be pretty standard in API, maybe some module providing only Promise support could be smaller in size?

Small app size is definately a good thing but I would at least pause for a moment to think if it really is something to worry about in this case u

[2016-02-21 02:37] scotthovestadt commented on #109
I agree with the point @ristomatti made that space isn't an issue in a NodeJS environment. Certainly 1-2MB is not something I worry about.

I think if you like what we can probably do is remove babel-runtime and keep babel-polyfill. babel-polyfill is preferred, but [this](http://www.2ality.com/2015/12/babel6-helpersstandard-library.html#babel-plugin-transform-runtime) issue keeps it from being eff

[2016-02-21 02:58] dthree commented on #109
Or we could drop support for `.10 - .12`... :)

[2016-02-21 03:16] dthree commented on #109
I'm actually thinking about it. I guess we'd have to bump to 2.0 if we drop support for those, but it would be nice.

Do you have any idea what percentage of companies use those older versions?

[2016-02-21 03:20] scotthovestadt commented on #109
I honestly think that basically everyone using node would rather have an
extra dependency than worry about having a specific node version.

I think we can drop babel-runtime and use only babel-polyfill for the
immediate future, until the runtime lib is more mature.

On Saturday, February 20, 2016, dc <notifications@github.com> wrote:

[2016-02-21 03:31] dthree commented on #109
Okay let's do that then - just drop the babel runtime.

[2016-02-21 09:44] samjbmason opened #110 ".validate throwing error"
I have a vorpal command that looks like this:
I am running version 1.9.5.

[code]

And when i run `pnt temp` in my terminal I get this error thrown:

[code]

[2016-02-24 18:54] tarunc opened #111 "(Minor) Better help formatting"
If the descriptions for help are too big for the terminal, the 2nd line can be indented. Just a thought for better help formatting.

Example:
![screen shot 2016-02-23 at 12 27 25 am](https://cloud.githubusercontent.com/assets/602762/13296833/46801a3c-dae4-11e5-8cb9-3f3f983d7d61.png)

Great module overall! Thanks!

[2016-02-24 22:43] dthree commented on #111
I agree! Very good point and I've wanted to fix that. Feel free to send a PR, but otherwise I'll get to it fairly soon.

[2016-02-25 18:49] dthree opened #113 "Single-quote arg parsing"
https://github.com/dthree/cash/issues/21

[2016-02-26 00:01] jenius commented on #52
+1 for being able to specify defaults!

[2016-02-26 00:01] jenius commented on #76
+1 for this as well :grin:

[2016-02-26 09:51] warpdesign opened #114 "Problems with spaces"
It seems autocomplete module splits autcomplete elements and use only the last part.

So doing:

    vorpal.command('cat')
          .autocomplete(['foo', 'blah blew']);

Would present this list:

`foo blew` instead of showing `foo "blah blew"`

This is especially a problem when using autocomplete-fs module to autocomplete directories since directories containing spaces will be cut out.

Maybe the

[2016-02-26 13:11] AljoschaMeyer commented on #95
Further thoughts: Instead of using the streams of a FRP library, this should instead use simple node streams. The implementation could actually mirror that of UNIX pipes, with a stdout, a stderr and an exit code. Then, a bridge could be built to Node's Child Process, which could enable running normal commands from vorpal.

This implementation of commands with std-streams and exit code should proba

[2016-02-26 13:27] AljoschaMeyer opened #115 "Globally installed extensions"
Another fancy feature-idea with really low priority:

What if users could do a global install of an extension, and all vorpal programs would automagically be able to use the commands provided by the gobally installed extensions? I suppose this is doable (or else vorpal-use wouldn't exist, right)? This would not have to be limited to commands, the extensions could just be loaded as usual. This way,

[2016-02-26 23:51] dthree commented on #114
No, it's a bug.

[2016-02-27 00:48] dthree commented on #115
That's a great idea! I would call it a plugin, I agree, to separate it from an extension.

Let's discuss more!

[2016-02-27 00:50] dthree commented on #95
Yeah, those darn real-life *grumble grumble grumble*... :)

I'm totally down for streaming. It's kind of embarrassing that Vorpal piping doesn't use streams.

Whenever you get around to it, throw together some concepts and then we'll go over it.

[2016-02-27 04:19] ereOn opened #116 "Installation fails on Windows - mindash is not found"
I tried to install [`cash`](https://github.com/dthree/cash) which depends on `vorpal` but couldn't get it to install.

I'm no `npm` specialist (quite the opposite) but it seems that `https://registry.npmjs.org/mindash` returns a `404` error during `npm install`.

I tried to look for `mindash` but couldn't even find a Github repository for it.

Is this a known issue ?

[2016-02-27 04:36] dthree commented on #116
My bad. Just did something very dumb. Give me a second.

[2016-02-27 04:39] dthree commented on #116
Sorry about that. Latest version should be good now.

[2016-02-27 04:39] #116 closed

[2016-02-27 10:35] AljoschaMeyer commented on #115
Some further suggestions (and actually some repetitions from the first post):

If possible, writing a plugin does not change at all, just an exported function being passed `vorpal` and `options`. Application developers can still depend on a plugin and `use` it as usual. But if installed gloablly, the plugin is `used` in all vorpal applications.

Default options: Vorpal would call `use` for plugins

[2016-02-27 14:21] AljoschaMeyer commented on #95
Basic API sketch (without asynchronous support): The functions defined here would be passed to some constructor.
[code]
Expected outputs:
[code]

[code]

Expected outputs:
[code]

Combining them:
[code]

Behind the scenes, each command has three streams, stdin, stdout, and stderr (stdin and stdout can optionally be object streams). stdout is piped to the next command's stdin (or to the higher-leve

[2016-02-27 14:30] ereOn commented on #116
I can confirm it works now. Thanks !

[2016-02-27 16:23] dthree commented on #116
:+1:

[2016-02-27 22:07] dthree commented on #115
I'm really liking this, and agree with each of your points!!!!

Damn. I need more time.

[2016-02-28 11:33] AljoschaMeyer commented on #95
Any ideas for the SIGINT-equivalent? The framework should be able to stop a running command, but forcing the interruption does not sound like a good approach. Maybe add a `shouldTermintate` method to the object bound to `init`, `onInput` and `onInputExit`, returning whether interruption was requested?
The average command is not complex enough and can safely ignore that.
Or do you think a more forc

[2016-02-28 13:24] AljoschaMeyer commented on #95
First of all, I'm not expecting immediate feedback on this, I suppose cash keeps you pretty busy right now. I'm just sharing some of the involved decisions. Because why not?

##### Thoughts on objectMode for the streams:

The low-level implementation can do either via options, but perhaps Vorpal should enforce one or the other.
- Object streams allow convenient implementation of commands interacti

[2016-02-28 21:48] omnidan opened #117 "Negative numbers as arguments don't work"
They are parsed as options, is there any way to make it parse the argument as a number instead? (and ignore options completely, at least when none are defined)

[code]

This is probably related to #8.

[2016-02-28 22:49] omnidan opened #118 "Code `2` on clean exit"
When exiting via `exit` or Ctrl+C, vorpal seems to quit with an exit code of `2`.

This makes `npm` show errors when running the script within `npm start`.

[2016-02-29 01:44] dthree commented on #118
Do you know what should be expected from `SIGINT`? This should be a simple fix.

[2016-02-29 01:45] dthree commented on #117
About to do a number on arg parsing, will take this into account.

[2016-02-29 11:36] omnidan commented on #118
@dthree `node` itself exits with return code `0` on Ctrl+C

[code]

[2016-02-29 11:37] omnidan commented on #117
@dthree cool, thanks! BTW: being able to disable options for certain commands would solve the problem for me.

[2016-02-29 12:51] Shakyamuni177te opened #119 "Compiler doesn't reach end stage"
The compiler won't reach the end stage after I finished reconfiguring a null object. Is this an issue with the interfacing infrastructure and not the app itself?

[2016-02-29 17:07] dthree commented on #118
K thanks.

[2016-02-29 17:07] dthree commented on #119
Could you give me an example of what your code is and what the error is?

[2016-02-29 17:08] dthree commented on #117
Making progress on this issue, btw.

---

Could you please clarify what you mean by that?

[2016-02-29 22:00] ccorcos opened #121 "Calling internal commands"
It would be cool if you could execute a command using the `-c` option just like in bash.

`node main.js -c "my-command"`

It could also be cool if you could require the node file and run commands manually. This way we can share the CLI code.

[2016-02-29 22:14] GranularDetective commented on #121
Why would you want to fix the CLI code. Is it related to USSD codes in any way? (Just dial 46 on your mobile phone if you can an EE mobile and you'll be able to examine the output of the USSD code).

[2016-02-29 22:15] ccorcos commented on #121
Not sure what you're talkig about there. I'm saying that i have a command:

[code]

and I'd like to be able to run that command from a bash script.

[2016-02-29 22:17] GranularDetective commented on #121
That's pretty basic.

[2016-02-29 22:29] ristomatti commented on #121
@ccorcos, you can use `vorpal.parse(process.argv)` to run the commands given as arguments. Doing that only when `-c` is given as a parameter should be quite easy thing to add to your own app. Adding it to Vorpal by default would require an unnecessary major version bump as someone might already be using it for their own app (and therefore being a breaking change).

[2016-02-29 22:37] ccorcos commented on #121
awesome. `.parse` should do it though! thanks

On Mon, Feb 29, 2016 at 2:29 PM, Ristomatti Airo <notifications@github.com>
wrote:

[2016-02-29 23:01] GranularDetective commented on #121
Are people still talking about parsing? So last year.

[2016-02-29 23:24] dthree commented on #121
@ristomatti nailed it. Closing this issue.

@ccorcos if you have any question on Vorpal, feel free to ask in Stack Overflow! I'm very fast to respond, among others, and it helps build the general knowledge base.

[2016-02-29 23:24] #121 closed

[2016-02-29 23:26] GranularDetective commented on #121
No. You do not ever close this issue because you haven't fixed the underlying problem as you know dthree.

[2016-02-29 23:28] GranularDetective commented on #121
Of course, if you edit the compiler you can force the compiler to run from bash but to force a compiler to run is completely wrong and will cause a huge number of problems for you down the line.

[2016-02-29 23:29] dthree commented on #121
@GranularDetective your comments are not sequitur to the discussion. It honestly sounds like you're trolling, which will get you blocked.

[2016-02-29 23:29] GranularDetective commented on #121
You don't understand what I'm telling you or more likely you are pretending not to understand.

[2016-03-01 06:13] dthree commented on #117
Okay @omnidan , this is a bit harder than I thought.

https://github.com/substack/node-optimist/issues/79

It's hard to implement something that doesn't break something else.

---

Do you have any ideas on how to possibly implement this?

[2016-03-01 10:25] mvayngrib opened #122 "[for discussion] move default localStorage location under $HOME"
i ran into a problem when trying out your cash project. With my nodejs/npm setup, global installs require sudo: `sudo npm i -g cash`

however, because of that, cash doesn't have permissions to write to its own localstorage directory:

[code]

obviously i don't want to run cash with sudo :)

isn't it more typical to put this kind of storage in ~/.vorpal or ~/.cash or somewhere else under `$HOME`?

[2016-03-01 10:53] GranularDetective commented on #122
It depends what you're trying to achieve? If you're trying to input a long path into a short directory then you're going to see an error, if you'll forgive my use of non-standard coding jargon regarding this particular instance which is actually the best way to describe it at the moment.

[2016-03-01 10:58] mvayngrib commented on #122
@GranularDetective not sure what you mean...i'm just talking about access privileges

[2016-03-01 11:11] Shakyamuni177te commented on #122
Oh. Why do you want to sudo again? I suppose true root is much more
enjoyable but in an actual coding sense what do you mean exactly?

On 1 March 2016 at 10:58, Mark Vayngrib <notifications@github.com> wrote:

[2016-03-01 11:12] Shakyamuni177te commented on #122
Why don't you want to sudo again, rather. Muh bad.

On 1 March 2016 at 11:10, Peter Carter <peter.carter.mail@gmail.com> wrote:

[2016-03-01 15:26] GranularDetective opened #123 "unable to locate local storage object in most immediate instance"
I don't appear to have a local storage object at all at the moment. Does absence of a local storage object indicate a problem with the install on my current machine?

[2016-03-01 17:08] dthree commented on #123
You might not see it, but is the functionality not working?

[2016-03-01 17:14] GranularDetective commented on #123
Why doesn't the object show in my development panel? :'(

[2016-03-01 22:39] dthree commented on #122
Okay thanks.

[2016-03-01 22:48] dthree commented on #123
? Vorpal doesn't have a development panel. Are you just trolling? Honestly not a single comment you've made has made any sense to me.

I'm really trying not to be rude, but please take care to explain your issues better if you're going to post here.

[2016-03-02 00:03] devinus opened #124 "Problems with slashes in autocomplete options"
Using these options: `['a/b', 'a/boo', 'b/a', 'b/c']`

[code]

It wont autocomplete the whole string and it's just funky in general. Not how I would expect autocomplete to work.

[2016-03-02 04:05] dthree commented on #113
Fixed in Vorpal `v1.10.2`.

https://github.com/dthree/vorpal/commit/c2036c9830b88bb2c74b762258122731e65f1017

[2016-03-02 04:05] #113 closed

[2016-03-02 04:05] dthree commented on #113
Fixed in Vorpal `v1.10.2`.

https://github.com/dthree/vorpal/commit/c2036c9830b88bb2c74b762258122731e65f1017

[2016-03-02 04:05] #123 closed

[2016-03-02 04:09] #118 closed

[2016-03-02 04:09] dthree commented on #118
Fixed. Live in `v1.10.3`.

[2016-03-02 04:10] dthree commented on #117
@omnidan not sure what I'm going to do about this, as pretty much every Node CLI app out there has this problem. If you have a bright idea, open a PR and we'll discuss it!

[2016-03-02 04:10] #117 closed

[2016-03-02 04:39] #111 closed

[2016-03-02 04:39] dthree commented on #111
Fixed. Available in `v1.10.4`.

[2016-03-02 04:43] dthree commented on #109
@scotthovestadt you think you can help with this in the near future? Thanks.

[2016-03-02 04:44] scotthovestadt commented on #109
Yeah. I'll look at it tomorrow. There was a Babel update today and I also
want to go through change log.

On Tuesday, March 1, 2016, dc <notifications@github.com> wrote:

[2016-03-02 04:44] dthree commented on #106
Fixed.

https://github.com/dthree/vorpal/commit/8c091f948be99d55bb7120233285638c620c98b1

[2016-03-02 04:44] #106 closed

[2016-03-02 04:53] dthree commented on #99
Okay dug into this.
---
Both contexts are using a `commandInstance` context, however a `commandInstance` nature expires after execution by nature, so it wouldn't be correct for them to have the same context (and wouldn't work in the current design).

For a common context that lasts the duration of the `mode` session, use `this.parent` in both contexts, which refers to your session.

[2016-03-02 04:53] #99 closed

[2016-03-02 04:54] dthree commented on #98
You fixed this!

[2016-03-02 04:54] #98 closed

[2016-03-02 04:55] dthree commented on #80
Not going to do anything else on this for now, so closing.

[2016-03-02 04:55] #80 closed

[2016-03-02 04:59] dthree commented on #73
Fixed.

[2016-03-02 04:59] #73 closed

[2016-03-02 05:01] dthree commented on #76
This is now fixed.

https://github.com/dthree/vorpal/commit/8c091f948be99d55bb7120233285638c620c98b1

[2016-03-02 05:01] #76 closed

[2016-03-02 05:14] dthree commented on #63
Your journey is over. Fixed in `v1.10.5`.

[2016-03-02 05:14] #63 closed

[2016-03-02 05:18] #10 closed

[2016-03-02 05:20] dthree commented on #8
Should be fixed.

[2016-03-02 05:20] #8 closed

[2016-03-02 05:21] dthree commented on #109
Awesome! I'm on a roll right now, closed almost 15 issues today so far. Would like to zero out soon.

[2016-03-02 05:26] dthree commented on #119
Throw me some code and I'll re-open this. Not enough data to do anything with.

[2016-03-02 05:26] #119 closed

[2016-03-02 05:38] dthree commented on #122
`os.tmpdir()` works fine.

Fixed in `v1.10.7`.

[2016-03-02 05:43] dthree commented on #110
Thanks.

Fixed in `v1.10.8`.

[2016-03-02 05:43] #110 closed

[2016-03-02 08:48] GranularDetective commented on #123
Chrome has a development panel and if you look at it the local storage object should be there when doing Web Development.

Sent from Yahoo Mail on Android

  On Tue, 1 Mar, 2016 at 22:48, dc<notifications@github.com> wrote:
? Vorpal doesn't have a development panel. Are you just trolling? Honestly not a single comment you've made has made any sense to me.

I'm really trying not to be rude, but ple

[2016-03-02 14:13] Shakyamuni177te commented on #119
​What about the meta-data? Have you filed a formal request with the
relevent department?

On 2 March 2016 at 05:26, dc <notifications@github.com> wrote:

[2016-03-02 15:57] dthree commented on #123
Vorpal is a terminal-based software and doesn't work in a browser.

[2016-03-02 17:19] AljoschaMeyer commented on #95
This turned out to be more work than I anticipated, but [here](https://github.com/AljoschaMeyer/chainable-command) is a first implementation. Most of the complexity will be abstracted away, the end user would only pass three lifecycle methods (`init`, `onInput`, `cleanup`) with access to some properties to a constructor.

As a next step I'll write something which parses strings like `'foo || bar'`

[2016-03-02 17:25] devinus opened #125 "Show Inquirer default value"
Inquirer shows default values, but Inquirer used from Vorpal does not.

Inquirer:
<img width="267" alt="screen shot 2016-03-02 at 11 24 46 am" src="https://cloud.githubusercontent.com/assets/4836/13468683/74431020-e069-11e5-8549-ef2464696ae0.png">

Vorpal:
<img width="260" alt="screen shot 2016-03-02 at 11 25 39 am" src="https://cloud.githubusercontent.com/assets/4836/13468700/8717f896-e069-11e5-9

[2016-03-02 17:38] jwthomp commented on #106
Awesome, thank you.

It isn't clear to me how you push out new builds to npm, so just thought I'd ask when you expect this to be pushed? Thank you again!

[2016-03-02 20:19] dthree commented on #106
Yeah. If I close a bug, it usually means I pushed to NPM. Sorry about not being clear. I'll note the push version in the future.

[2016-03-02 20:20] dthree commented on #125
Thanks. To assist in debug, could you give me the code you used to reproduce this? Thanks.

[2016-03-02 20:45] jwthomp commented on #106
No worries at all. You certainly left enough breadcrumbs for me to figure it out on my own.

Cheers!

[2016-03-02 22:34] dthree commented on #95
You're overwhelming me with good ideas! Great work, will try to take a thorough look at this as soon as I can.

First priority currently is closing existing issues, so we have a clean base for some redesigns.

[2016-03-02 23:34] dthree commented on #95
Okay, I looked at this a bit, it actually looks really good.

The most important thing though, as you said, very simply abstracting it for the user, and making it behave similarly to existing Vorpal commands.

For example,

- `this.stdin` could simply be `this.log` and `this.stderr` could be `this.error`, which would match `console.log` and `console.error`.

- As cleanup would be optional for a us

[2016-03-03 08:49] Shakyamuni177te commented on #123
I think what she's attempting to tell you is she's looking for the local
storage object in the browser as Vorpal doesn't have a method of finding
the local storage object you are storing at the moment?

On 2 March 2016 at 15:57, dc <notifications@github.com> wrote:

[2016-03-03 10:59] omnidan commented on #118
@dthree Awesome! :+1:

[2016-03-03 12:15] omnidan commented on #117
@dthree my idea was adding a way to disable options:

[code]

[2016-03-03 14:09] AljoschaMeyer commented on #95
## Abstraction Hierarchy

I'll outline a full abstraction hierarchy for implementing all this stuff in this comment. See comments below for API discussion.

### Command Instance

Not going to summarize this again, just check the [readme](https://github.com/AljoschaMeyer/chainable-command).

### Command Chain

The `CommandChain` takes `CommandInstances`, chains them together and initializes them. I

[2016-03-03 14:10] AljoschaMeyer commented on #95
#### CommandInstance discussion

For some reason I thought about piping the operand of a command into the CommandInstance after initialization, so `mkdir foo` and `echo foo | mkdir` would be the same. This comes with a lot of problems, I'm not even sure why I thought this would be a good idea. But we can make the operand(s) easily available in the lifecycle functions so that's not actually a probl

[2016-03-03 15:24] AljoschaMeyer commented on #95
#### Vorpal Command API Discussion

Everything below is of course just a suggestion. Point of view is that of the `CommandInstanceFactory`. The API methods modify the factory (or rather they modify a command object which is passed to the factory once it is done).

To recap what information we need:

- parsing a command string:
  - determine which command to instantiate
  - parse and set options

[2016-03-03 15:24] Shakyamuni177te commented on #119
Might be something to do with:

parseArgs: function (str, opts) {
    const reg = /"(.*?)"|'(.*?)'|`(.*?)`|([^\s"]+)/gi;
    let arr = [];
    let match;
    do {
      match = reg.exec(str);
      if (match !== null) {
        arr.push(match[1] || match[2] || match[3] || match[4]);
      }
    } while (match !== null);

    arr = minimist(arr, opts);
    arr._ = arr._ || [];
    return arr;
  },

[2016-03-03 17:09] dthree commented on #117
Hmm..... I can do this, but I hate adding API features for edge cases, as that's what makes a library look crufty and overwhelming.

How about this: If this comes up with others as well, I'll take it up. A workaround for now that you can apply is either:

[code]

[code]

Does this help?

[2016-03-03 17:10] dthree commented on #123
Yeah, you aren't going to be able to find it in a browser at all.

[2016-03-03 18:24] dthree commented on #95
`Foo` would be `stdin`, and `bar` is the operand. Don't see why this is a problem.

Can we just refer to `onInput` as `data`, to match stream syntax? I think this will be clearer in the long run. As well, `cleanup` could be called `end`. These are standard stream events.

---

Okay, I'm really liking all of this. Here's the deal: I want to model Vorpal into a full bash interpreter (as you are sayi

[2016-03-03 19:03] dthree commented on #95
Okay you have access to the repo now, and I created a `2.0` branch. You're free to push whatever you want to it (if you need to push something to 1.0, just ping me first).

[2016-03-03 21:13] dthree commented on #95
Sure. Additionally, I would like commands to support `sync`, `async (callbacks` and `Promises`. Right now `async` and `Promise` are supported, with `sync` supported through `vorpal.execSync`, however it should all be available through the same method.

---

Another thing is that I would like actions to return status code (`0`, `1`), etc. Perhaps all stdout and stderr are sent through logs, and onl

[2016-03-03 21:13] dthree commented on #95
btw, what time zone are you in (I'm PST). We seem to have flipped schedules, which is going to suck.

[2016-03-03 21:31] scotthovestadt opened #126 "Command history "up" after executing command should always show last command"
I think the behavior that prevents sequential command of the same command from showing twice is preventing me from seeing the last command in some cases. This is annoying because I will muscle-memory execute the wrong command sometimes.

[2016-03-03 21:33] dthree commented on #126
Ooh got it.K,

[2016-03-03 22:42] jwthomp commented on #123
@GranularDetective  The local storage data is stored on disk at os.tmpdir() + /.local_storage_<local storage id>

As an example, on Linux if you do vorpal.localStorage('foo'); you can find the directory that contains all data that has been set at /tmp/.local_storage_foo/

[2016-03-04 09:22] scotthovestadt opened #127 "Better support for long commands"
After executing a long command, it appears on the next line and overlaps with the command prompt. Typing removes it, but you can't effectively see your previous command.

[2016-03-04 10:07] AljoschaMeyer commented on #95
Because it would be very elegant to handle operands by piping them into stdin after initialization. Disregarding exceptions like grep, most commands want to handle stdin as if it just contained additional operands, which happen to be supplied asynchronously. That way, our user has to define only one function which handles operands as well als stdin.

This is different from the way UNIX commands wo

[2016-03-04 10:15] AljoschaMeyer commented on #95
Also, we can move the CommandInstance specific discussion to its [repo](https://github.com/AljoschaMeyer/chainable-command), and focus on the vorpal API here.

[2016-03-04 13:11] omnidan commented on #117
@dthree Could I use `parser()` to define a completely custom parser function (that ignores options), e.g.:

[code]

[2016-03-04 14:45] AljoschaMeyer commented on #95
As for the bash reimplementation, I found these [two](https://github.com/grncdr/js-shell-parse) [projects](https://github.com/piranna/nsh), which may or may not be helpful.

The [bash manual](https://www.gnu.org/software/bash/manual/bash.pdf) looks surprisingly readable.

Do you think a full reimplementation is necessary and realistically possible? Bash essentially provides a whole programming lan

[2016-03-04 19:46] dthree commented on #117
Yes, but play with its sytnax.

[2016-03-04 19:46] dthree commented on #127
kk. We should look at Inqurier to see if this is a problem there as well.

[2016-03-05 05:16] dthree commented on #95
Wow - it *is* surprisingly readable. How pleasantly rare.

---

I think you nailed it on what's needed, I was about to say the same things.

Getting through the manual myself, will update you in a bit.

[2016-03-05 05:30] dthree commented on #95
As a sequence of actions, I think I'm going to start working on the shell parser / AST. If you continue on the control flow (`CommandInstance`), I think we can move along pretty well in parallel.

[2016-03-05 09:45] AljoschaMeyer commented on #95
Ok, my next step after polishing `CommandInstance` (which mirrors [`3.2.1` simple commands](https://www.gnu.org/software/bash/manual/bash.pdf#14)) is to build a `CommandGroup`, which represents one of some of the the subsections of command from [`3.2` shell commands](https://www.gnu.org/software/bash/manual/bash.pdf#14), i.e. simple commands, pipelines, lists and groups. Of course extensible to in

[2016-03-05 17:21] Shakyamuni177te opened #128 "Vorpal fails to install on Windows 10 using most recent npm installation"
![image](https://cloud.githubusercontent.com/assets/11525524/13549094/b9a5e8ce-e2f6-11e5-99c9-cd667439ea4d.png)

[2016-03-05 17:23] Shakyamuni177te commented on #128
npm-debug log:

0 info it worked if it ends with ok
1 verbose cli [ 'C:\\Program Files\\nodejs\\node.exe',
1 verbose cli   'C:\\Users\\fujitsu\\AppData\\Roaming\\npm\\node_modules\\npm\\bin\\npm-cli.js',
1 verbose cli   'install',
1 verbose cli   'vorpal' ]
2 info using npm@3.8.0
3 info using node@v5.6.0
4 silly loadCurrentTree Starting
5 silly install loadCurrentTree
6 silly install readLocalPack

[2016-03-05 17:34] Shakyamuni177te commented on #128
Have checked gulp is installed:

![image](https://cloud.githubusercontent.com/assets/11525524/13549181/58dfbf54-e2f8-11e5-9a5b-d16629956c1c.png)

and made sure the package.json in my command line library available:

![image](https://cloud.githubusercontent.com/assets/11525524/13549199/8ae44934-e2f8-11e5-9c7f-88cdf2ed9634.png)

Same error still.

[2016-03-08 17:19] dthree commented on #95
Thanks.

`js-shell-parse` is very close on its AST, so it looks like I'm going to use it for now. He stopped maintaining it, so I'm going to fork it into the Vorpal org, and I got the `nodeos` guy to agree on working on it with me to finish.

Let me know when your time frees up a bit!

[2016-03-08 18:51] AljoschaMeyer commented on #95
Sweet! I spent some time tinkering with the babel api, and I'm tempted to try the following for a basic shell implementation:

- add a plugin to babel which parses command-expressions like `foo | bar`
- use babel to compile the whole thing back to js
- execute js in a vm

I'm not sure whether that is a very practical approach, but the idea is cool enough to build a prototype for. For vorpal, build

[2016-03-08 19:54] dthree commented on #95
Okay, awesome. Maybe we should focus on the plan in line with Vorpal, just because its already a huge amount of work, and then once we have a proof of concept we can turn it into tons of powerful offshoots, like the babel one (which sounds like a cool idea!).

My thought is:

`vorpaljs/bash-parser`: Parses into AST
`vorpaljs/bash`: Takes parsed AST and does low-level, context-independent actions s

[2016-03-08 22:19] AljoschaMeyer commented on #95
Just uploading this before going to bed, without finished tests or documentation: [pseudo-process](https://github.com/AljoschaMeyer/pseudo-process).

This could represent commands internally, with an API similiar to node's ChildProcess. Instances of PseudoCommand have methods to pipe and to redirect input and output. Also has a function to construct PseudoCommands from actual ChildProcesses.

[2016-03-08 22:29] dthree commented on #95
Very nice!

[2016-03-09 05:03] scotthovestadt opened #130 "Command option with equal sign isn't parsed correctly"
Failing test:
[code]

[2016-03-09 05:07] scotthovestadt commented on #130
Oh, it looks intentional. It breaks something I wrote but I'll just change it to use a colon or something.

[2016-03-09 07:12] dthree commented on #130
Yah just did something recently on this.

[2016-03-10 03:56] ahmadnassri opened #131 "request: ability to create sub-commands / shells"
e.g.

[code]

this is all one app, but acts as if `foo` `bar` are their own shells

[2016-03-10 03:59] dthree commented on #131
:+1:

[2016-03-11 20:58] steelbrain opened #132 "How to add a spinner with vorpal?"
Currently we have a `.log` that fits the basic needs, but what if I wanted to create a spinner. How would I make vorpal work with that? Any help would be appreciated

[2016-03-11 23:51] dthree commented on #132
Check out the `vorpal.ui.redraw` methods:

https://github.com/dthree/vorpal/wiki/api-|-vorpal.ui

[2016-03-11 23:51] #132 closed

[2016-03-12 00:33] devinus opened #133 "Rejected promises log `true`"
[code]
$ fail me

  Missing required argument. Showing Help:

  Usage: fail me [options] <arg>

  Must return an arg.

  Options:

    --help  output usage information

$ fail me foo
true
[code]

[2016-03-12 00:38] devinus commented on #133
This happens here: https://github.com/dthree/vorpal/blob/906cf7bc7728a6c15190815dd336e79e8ef2bc5a/lib/session.js#L432

`response` is `{ error: true, data: 'we are not happy.', args: undefined }`.

Perhaps error.data is what should be logged?

[2016-03-12 00:41] devinus commented on #133
And only when error.data is truthy?  Unsure. Seems like it should only `this.log` if it's an actual instanceof Error.

[2016-03-12 03:26] steelbrain commented on #132
IIRC github issues show up on google searches so IMHO this is already benefiting for those who seek :)

[2016-03-12 03:56] dthree commented on #132
Not as well and high as SO, but not a big deal either way. :)

[2016-03-13 11:20] mamboer opened #134 "cursor lost after clear the vorpal outputs"
hi,
I implemented a `clear` command in one of my vorpal application following your answers in this post http://stackoverflow.com/questions/8813142/clear-terminal-window-in-node-js-readline-shell/32871585#32871585?newreg=0fd7e6b366544c72b82496cd4c077973

The problem is that the cursor lost in the console after executing the `clear` command,  as the screenshots below:

Before `clear`,

![image](http

[2016-03-13 16:27] dthree commented on #134
Thanks.

The API on this changed a bit since that post. Could you possibly paste your code?

[2016-03-14 05:21] mamboer commented on #134
hi, here's my code in my `clear` command,

[code]

[2016-03-14 05:26] mamboer commented on #134
It will be very nice that `vorpal` could add a built-in `clear` command along with the `help` and `exit`.
Viewing the `help`, doing some works, `clear` the screen and doing some other works.

[2016-03-14 06:19] dthree commented on #134
For sure!

In the immediate, check out this for a much better way to solve your problem!

https://github.com/dthree/cash/blob/master/src/commands/clear.js

[2016-03-14 12:18] mamboer commented on #134
Cool! Thanks so much!

[2016-03-14 15:20] eistaa commented on #134
It's [ANSI escape codes](https://en.wikipedia.org/wiki/ANSI_escape_code). A breakdown of `\u001b[2J\u001b[0;0H` is:

 * `\u001b` is the escape character, together with `[` it becomes a _Control Sequence Introducer_ (CSI)
 * `CSI 2J` is the sequence for clearing the entire screen
 * `CSI 0;0H` is the sequence for moving the cursor to row 0, column 0

[2016-03-14 16:09] dthree commented on #134
No problem.

I'm renaming this issue to turn it into a feature request.

[2016-03-14 16:23] mamboer commented on #134
@eistaa @dthree thanks guys

[2016-03-17 09:53] kevincaradant opened #135 "Question: Where is the interactive menu like Inquirer.js"
Hi

Sorry for this question , but i searched in the documentation the interactive menu. But I didn't find it. So I ask you if you know where is it .

I'm searching something like that :

![image](https://cloud.githubusercontent.com/assets/6093175/13842387/2bbbdc80-ec2e-11e5-97ce-4349166e3ae9.png)

Thank you by advance :)

[2016-03-17 12:46] dthree commented on #135
Hey, no problem.

Inquirer.js is directly exposed through `this.prompt` while mid an action. This means you can just refer to Inquirer's documentation at that point.

https://github.com/dthree/vorpal/wiki/api-|-CommandInstance

See above for more details.

[2016-03-17 12:46] #135 closed

[2016-03-17 14:57] kevincaradant commented on #135
Ah yes, you're right. It's more clear for me. Thank you very much :)

[2016-03-17 18:15] petvas opened #136 "`required` `option` are acting like `optional`"
[code]

example Outputs:
`stringify -a asd` : `{ amount: 'asd' }`

`stringify` : `{}`

problem:
` --amount <amt>` means it is required `vorpal` shousd not execute a `command` if required options not used.

src: https://github.com/dthree/vorpal/wiki/api-%7C-vorpal.command#commandoptionstring-description-autocomplete

[2016-03-18 01:24] scotthovestadt commented on #109
Done.

[2016-03-18 01:24] #109 closed

[2016-03-18 01:38] scotthovestadt commented on #128
@Shakyamuni177te It looks like this is an issue with the prepublish hook being called after install, which is very unintuitive. For now, if you add vorpal as a dependency to your package.json and just run "npm install", it'll install correctly.

I'll look into a workaround.

See here for details and other people complaining about this:
https://github.com/npm/npm/issues/3059

[2016-03-18 01:39] scotthovestadt commented on #126
Fixed.

[2016-03-18 01:39] #126 closed

[2016-03-18 01:39] scotthovestadt commented on #126
I added a test for the behavior, too.

[2016-03-18 01:44] scotthovestadt commented on #128
OK, should be fixed now.

@dthree Can you publish?

[2016-03-22 01:55] ksiegel opened #137 "Pre-exit cleanup callback"
Really enjoying using Vorpal so far! Thank you guys for making such an awesome library happen.

One thing I'm trying to chase down is how to gracefully quit an app I'm working on. I'm emulating a virtual real-world device that does a thing on an interval. When I ctrl-c ctrl-c to exit that device, that interval keeps going and I'm forced to kill node directly as it keeps going forever. I'd like to

[2016-03-23 13:39] Maxtoros opened #138 "Mutliple prompts called from different files"
So am working with multiple prompts called from different files like this :
`vorpal`
`.command('init')`
`.description ('Create the configuration file for the project.')`
`.action(function(args, cb){`
`	const self = this;`
`	cordovaTasker.createConfig;	`
`})`

The function `createConfig` simply provides a prompt like this :

`var formulaire = [{...},{...}];`

`	vorpal`
`	.command('bake [type]')`
`

[2016-03-23 21:39] steelbrain commented on #137
I've partially done this by removing the existing `exit` command and adding my own, but having a built-in way to do this would be nice as we'll also be able to react to ctrl + c

[2016-03-26 16:31] Haroenv commented on #14
Thanks for `activeCommand`! I'm not sure where in the wiki it could fit, but it definitely needs to get mentioned somewhere.

[2016-03-27 03:35] #128 closed

[2016-03-27 20:16] scotthovestadt opened #140 "Arguments with pipe character are not parsed."
Failing test:
[code]

[2016-03-27 20:30] scotthovestadt commented on #140
Looks like the issue is the code that actually matches a command:
[code]

Need to be smarter about not splitting on pipe characters when they are quotes.

[2016-03-27 20:55] scotthovestadt commented on #140
Looks like multiple places are naive about pipes. In util.js:

[code]

[2016-03-27 23:27] #140 closed

[2016-03-28 18:57] scotthovestadt commented on #133
@devinus Can you create a failing test? If there's a bug with a failing test I will fix it.

[2016-03-28 18:58] scotthovestadt commented on #136
Per @dthree this is currently expected behavior. When you provide the option, the param is required, but the actual option itself isn't required. You can use a validate hook to ensure the option is provided.

[2016-03-28 18:58] #136 closed

[2016-04-01 18:57] AriaFallah opened #141 "Welcome message?"
Is there a way to make a welcome message for the CLI when it's first invoked?

Something like:

[code]

[2016-04-01 21:09] dthree commented on #141
I would probably just do this:

[code]

[2016-04-01 21:50] AriaFallah commented on #141
@dthree just realized I can also do a simple `console.log()`...

Thank you!

[2016-04-01 21:50] #141 closed

[2016-04-02 01:52] dthree commented on #141
Sure! For the record, don't do `console.log` as this will mess with the prompt. `vorpal.log` properly redraws the prompt after logging.

[2016-04-07 21:41] drewbrokke opened #143 "Allow for unknown options to be passed into commands"
This is actually the one thing that's preventing me from using this library in a project.

Commander.js supports calling `allowUnknownOption` on a command object: https://github.com/tj/commander.js/blob/master/index.js#L425-L428.

I don't always know which options a particular command will end up using since a lot of the actual options needed will be dynamically generated based on the first argume

[2016-04-15 07:06] vanita5 opened #145 "Pipe crashes Vorpal"
I have some issues with pipes in [birdknife](https://github.com/vanita5/birdknife).

I am using `.catch` to interpret non-command input as status updates. I had some issues with quote and equal chars before, but I was able to fix this with a custom command parser.

Now, this isn't possible with pipes (`|`). They are interpreted by Vorpal before being passed to the parser, so I am not able to bypas

[2016-04-15 09:51] matt-oc opened #146 "More forgiving command checks"
Very small one here, if a command is not entered exactly as it is registered when initialised, has a capital in it as a typo for instance ('Start' instead of 'start'), vorpal recognises the command as it shows help for that specific command but doesn't run it. Might be nice to have vorpal be more error forgiving for fat fingers :smile: Any ideas?

[2016-04-22 14:59] subk commented on #134
Just to point out the [ansi-escapes](https://github.com/sindresorhus/ansi-escapes) package which implements a [clearScreen](https://github.com/sindresorhus/ansi-escapes#clearscreen) method and many other useful sequences.

[2016-04-26 14:54] zeachco opened #147 "options sub keys need a parent option placeholder which can pollute help"
let say I want options like `--vpn.user=bob`; `vpn.host=sub.domain.net`; ...
adding
[code]
would throw an error as `options.vpn` is not set

so we need to do
[code]
even we don't have usage for vpn option.

maybe we could use somthing like https://www.npmjs.com/package/objectkit to auto create path ?

[2016-04-30 14:49] MatthieuLemoine commented on #125
I have the same issue. It can be reproduce with

[code]

[2016-05-03 12:35] tobilg opened #148 "Question: How to dynamically configure options of a command?"
Is it possible to configure the option list dynamically instead of statically chaining the `option()` to `vorpal.command()`?

Background is I want to be able to create my vorpal commands from some kind of metadata objects, i.e. I want to save some work for commands which work similarly by generating those commands based on a definition.

[2016-05-03 16:12] dthree commented on #148
Well, you can always go back and edit a command, or remove it and re-create it, so you could re-build commands dynamically with some sort of meta data:

[code]

This is a super simple example, but you can add as much metadata as you want to it.

Another pertinent command would be `vorpal.find('metacmd').remove()`;

---

Would you mind posting this on Stack Overflow? In this way, others with the sa

[2016-05-03 16:12] #148 closed

[2016-05-03 16:18] tobilg commented on #148
Thanks a lot for the fast answer. I'll post the question to SO later today.

[2016-05-04 01:45] PeterDCarter commented on #123
My personal feeling, on reflection, is that the user was talking both metaphorically, and in terms of computer code. Perhaps her light-hearted tone regarding her 'local storage object' (I would reference the famous Boxxy Babee video at this point e.g. "This one guy he remixed all of my videos" line) was a sort of cover in order to broach the subject of one person's memories, of a particular emotio

[2016-05-05 14:49] PeterDCarter commented on #147
When you say 'polute' do you mean 'populate'? Or is there an alternative rendering of the term 'polute' in this context?

[2016-05-05 16:09] dthree commented on #147
Got it.

This is probably just a parsing point, I probably didn't intend support for periods in an option string, but I never documented that and there's probably not a reason I can't.

This is where the options are initially parsed.

https://github.com/dthree/vorpal/blob/master/lib/option.js#L15

I'll try to look further into it when I get a sec, but feel free to look around.

[2016-05-05 16:23] dthree commented on #147
@PeterDCarter he was referring to adding necessary boilerplate (or figuratively trash) to the code, obscuring its clarity.

[2016-05-05 16:30] GranularDetective commented on #147
@dthree Why would you want to pollute your own code?

[2016-05-05 19:01] PeterDCarter commented on #147
Suggest editing title of issue for clarity. At the moment it sounds like you're saying something other than the detail of the question seems to suggest (though the lack of grammar make it difficult to tell...)

[2016-05-05 19:33] zeachco commented on #147
Ha sorry, yeah. Did that in a rush

[2016-05-06 14:09] Maxtoros commented on #134
Hey guys am using this command to 'clean' the screen , especially after a messy execution :
`vorpal
.command('clean')
.action(function (args,cb) {
	 process.stdout.write ("\u001B[2J\u001B[0;0f");
	cb();
});`

[2016-05-08 01:42] dthree commented on #134
@Maxtoros nice idea!

[2016-05-17 23:45] enriched commented on #124
👍  I am experiencing this using callback based autocomplete

[2016-05-23 03:40] dkebler opened #149 "nodemon messes up vorpal command history"
when vorpal is launched from within nodemon, the command history is non-functional.   Instead of previous commands appearing with the up cursor you get ` ^[[A`

[2016-05-24 20:30] eliperelman commented on #52
@dthree any more thoughts on this? Just had this come up on another project that would be useful.

[2016-05-24 21:10] eliperelman opened #150 "Are tests not written correctly?"
In trying to update the solution for #52, I ran across my updates not passing the tests. First up, the test at https://github.com/dthree/vorpal/blob/master/test/vorpal.js#L75 says that its missing the required option --required. I'm not sure if I actually broke something, or if the test just wasn't written properly. It appears that while the fixture doesn't pass any options, the command actually w

[2016-05-25 00:58] dthree commented on #150
It might be. Correct the test to what you think it should do, and post the test code here, and I'll make sure it confirms to how I expected it to behave. Thanks!

[2016-05-30 04:43] minhchu opened #151 "Hinting command when user types an invalid command"
Maybe we can add an additional implementation to display similiar command when user types an invalid command
Example:
[code]
When user type `node command.js foozz`, it will output:
[code]

[2016-05-30 16:12] dthree commented on #151
Good idea. I would probably want to t urn this on by default, and only if there isn't a `vorpal.catch` command declared. Then it could be turned off like:

[code]

What do you think?

[2016-05-30 20:10] minhchu commented on #151
Thanks for your advice. I'll try to do a PR.

[2016-06-07 19:16] scotthovestadt commented on #130
@dthree This issue is causing major headaches for me. It's impossible to pass a SQL string via command-line arguments. I need an option to turn it off. I'm working on it now.

[2016-06-07 20:54] #130 closed

[2016-06-07 21:19] dthree commented on #130
:+1: all good, the flag is fine with me.

Thanks.

[2016-06-09 00:27] #125 closed

[2016-06-18 16:05] zakhenry commented on #133
See the catch block where the promise rejection is handled. https://github.com/dthree/vorpal/blob/62f77e1477ec11245c320b5d1d56b521c36ea6d8/lib/session.js#L482-488

The second param of onCompletion (data) is set to true, which is what ends up being output. It's worth noting that a non-promise callback that `throw`s `new Error` will cause and exit 1.
This can be replicated by replacing the onComplet

[2016-06-24 06:05] tcorral opened #154 "Enforce the use of plugins"
Hi, dthree

This is Tomás Corral a Javascript Developer that have followed your work in the NodeJs community for a long time.

I didn't know how to contact you so I decided to open an issue to contact you.
I would like to listen your opinion about a NPM module I created for creating CLI tools using "vorpal" allowing people writing their own plugins.

The url of project is:
- http://commular.github

[2016-06-24 17:47] AljoschaMeyer commented on #154
#115 sketches some ideas for potential future vorpal features which might be related to commular. It doesn't look like they will be implemented any time soon (or at least *I* won't implement them any time soon), but they might still be of interest to you.

There was also some discussion in #95 to change vorpal's command implementation to be fully asynchronous and based on streams. This is another

[2016-06-25 18:42] dthree commented on #154
Hey @tcorral thanks for writing. Commular looks nice and could definitely be a good idea!

I think a first major step on improvement would be to better document simple, actual real-life usage examples and why Commular would be preferable over just publishing separate Vorpal / Commander extensions.

In other words, you have getting started with Commular well documented, it seems, however I think th

[2016-06-25 21:03] Madd0g opened #155 "Is there a way to prevent the space in autocomplete?"
I want to have a multi-step autocomplete (think autocompleting a deep js property).

     parent
           child
                prop

I want to be able to type `par` and autocomplete to `parent.` (without a space) and on next tab, my custom autocomplete will offer "child" and autocomplete to `parent.child.`. I've looked at the code and it seems like the space is added in all cases but a slash. I

[2016-06-25 22:25] #143 closed

[2016-06-27 05:49] weinma commented on #133
Hi! My personal workaround for now:

`  function onCompletion(wrapper, err, data, argus) {
    response = {
      error: err ? data : null,
      data: data,
      args: argus
    };
    self.completeCommand();
  }
`
Note: I needed a workaround fast, so i didn't get completely into it. I just needed it to work for my cause.

[2016-06-29 16:07] ac360 opened #156 "Turn Off Session Functionality"
How can we turn off the session functionality, or immediately exit after a single command?

[2016-06-29 16:19] dthree commented on #156
Use `vorpal.parse()`, and don't use `vorpal.show()`.

[This SO answer should help](http://stackoverflow.com/questions/33489201/is-it-possible-to-create-a-vorpal-application-which-the-commands-output-goes-di).

[2016-07-03 09:05] ekryski commented on #156
I can confirm this works. This is how I am doing it.

[code]

@dthree you probably close this.

[2016-07-06 16:13] #156 closed

[2016-07-08 05:43] minhchu opened #157 "How to separate commands into files"
I have many commands and each of them is long.
For example, I have:

- create
- read
- update
- delete
....

I wants to put them in separate files:

- ./commands/create.js
- ./commands/read.js
- ./commands/update.js
- ./commands/delete

and I want to require them in `app.js`:
[code]
so I can:
`node app.js create HelloWorld`

How can I achieve this. Thank you.

[2016-07-08 06:01] dthree commented on #157
I would do something like this:

[code]

[2016-07-08 07:42] minhchu commented on #157
Thank you. It works. I dont know that extension can be used this way :+1:
Btw, here is the question, you can answer it :grin: http://stackoverflow.com/questions/38261365/how-to-separate-commands-into-files-vorpal-js

[2016-07-08 07:42] #157 closed

[2016-07-12 19:46] JimmyBoh opened #158 "TypeScript Definition Files"
Has anyone started to create TypeScript definitions for Vorpal? I am going to start (since this library is worth the extra work), but wanted to see if anyone already begun.

@dthree Any preference as to where the definitions live? PR here or in [DefinitelyTyped](https://github.com/DefinitelyTyped/DefinitelyTyped)?

[2016-07-13 07:55] xTMNTxRaphaelx opened #159 "D3 CSV read function inside action"
I am trying to parse a CSV inside my vorpal js command but it returning undefined always. Same function is working on browser.

Any suggestions on how to acheive it?

[2016-07-13 16:49] dthree commented on #159
Can you give some sample code that isn't working?

[2016-07-13 17:36] xTMNTxRaphaelx commented on #159
Alright, this is a sample code i wrote right now..

`
'use strict';

const vopral= require('vorpal')().show();
const d3= require('d3');

function readCSV(csv_name, cb) {
      // read file
        d3.csv("cities.csv", function(data) {
              cb(data);
    });
}

vopral.command('read [csv_file_name]')
    .action(function(args, cb) {
        var self= this;
        let str= args.csv_file_nam

[2016-07-13 20:41] dthree commented on #159
Thanks.

This isn't really a Vorpal-related error. If you remove Vorpal from the picture and just run this `d3.csv` method in Node, you'll come up with the same error, so I would focus on that end of it to reduce complexity.

What you were guessing on it trying to connect to and read the CSV is probably correct!

[2016-07-13 20:41] #159 closed

[2016-07-13 20:48] dthree commented on #158
@JimmyBoh No, no one has done that yet, as far as I am aware. Thanks! You should put them in DefinitelyTyped.

[2016-07-13 21:06] JimmyBoh commented on #158
Cool! My pleasure.

The nice thing is that a lot of the work has already been done since you are using InquirerJS, so those definitions will automatically carry-over.

[2016-07-14 02:00] dthree commented on #158
Oh, nice! Good point.

[2016-07-22 10:21] warka0 opened #160 "Can't execute cli when global"
Hi,

When installing globally and called from an OS X terminal, i got this error message :

``
/usr/local/bin/mycli: line 1: syntax error near unexpected token `('
``
``
/usr/local/bin/mycli: line 1: `const vorpal = require('vorpal')();'
``

Do i'm missing something ?

[2016-07-24 05:59] dthree commented on #160
It might be something else in your file. Can you show me the whole fine printout?

[2016-07-26 22:58] alansouzati commented on #160
What is the Node version you have? Can you paste here `node --version` and `npm --version`?

[2016-07-26 23:04] alansouzati opened #161 "Support for version task by default"
Currently I have a built-in node CLI for [Grommet](https://github.com/grommet/grommet).

I'm in the process of investigating a framework to handle the CLI for me. I've compared multiple frameworks and yours is the one I liked the most API-wise. Good job!

Our CLI today has a `grommet --version`. I was wondering if you have something similar that would output the version of the CLI. For now, this i

[2016-07-26 23:07] alansouzati commented on #161
FYI, I know we could use NPM itself to handle that, but as you can see here, it is kind of weird the way they do it:

http://stackoverflow.com/questions/10972176/find-the-version-of-an-installed-npm-package

[2016-07-26 23:45] alansouzati opened #162 "Option list is not being printed"
I'm trying this example from the home page:

[code]

If I type:

`order`: instead of seeing `burgers  chinese  pizza  sushi`,  I see `You ordered undefined undefined`.

Same for `order sushi --method`.

I'm assuming there is a change in the API? What is the proper way to do this now?

I'm basically trying to show the list of available methods.

[2016-07-26 23:46] alansouzati commented on #162
I'm using vorpal `1.11.2`

[2016-07-26 23:58] alansouzati commented on #162
Nevermind, I was pressing enter instead of tab. I should have read the documentation more carefully.

[2016-07-26 23:58] #162 closed

[2016-07-27 16:10] warka0 commented on #160
Hi,

Sorry i was traveling without internet connexion :/

Vorpal is working when i do ``node index.js``on my terminal.
But when i try to execute it by installing my helloworld project with ``npm install -g ./`` AND when i type the command (``hello``) to open it, i got this :
``
/usr/local/bin/hello: line 1: syntax error near unexpected token `('
/usr/local/bin/hello: line 1: `const vorpal = requir

[2016-07-27 16:36] alansouzati commented on #160
Can you share your entire index.js ? Why do you have `const ?

I have a project using the entire ES6 capabilities and I'm using babel to compile it down to ES5 so I can safely run vorpal in pretty much any Node distribution.

It is still a WIP but I believe it is going to be useful for your project as well:

https://github.com/grommet/grommet-cli

You can run `npm run build` to create the es5 dist

[2016-07-27 17:12] warka0 commented on #160
Sure, the code is really simple.

``
const vorpal = require('vorpal')();
``

``
vorpal
``
``
  .command('hello', 'do whatever')
``
``
  .action(function(args, callback) {
``
``
    this.log('hello world bro');
``
``
    callback();
``
``
  });
``
``
vorpal
``
``
.delimiter('▲ hello')
``
``
.show();
``

And it's working with ``node index.js``.
Whatever, with ``var``it failed too, with the exact sam

[2016-07-27 17:17] alansouzati commented on #160
can you try to remove this ?  '▲ hello'

[2016-07-27 17:19] warka0 commented on #160
Done, same error when installed globally ```var vorpal = require('vorpal')();'``

[2016-07-27 17:21] alansouzati commented on #160
I found the issue 💃

You need to include this at the top of your file:

`#!/usr/bin/env node`

[2016-07-27 17:23] warka0 commented on #160
Ooooh !
Perfect ! It's working. 👍

Thx for the help 😉

[2016-07-27 17:24] #160 closed

[2016-07-28 20:44] dthree commented on #162
All good. Feel free to post questions on StackOverflow under the `vorpal.js` tag - they will probably get answered faster. I get email alerts on that tag.

[2016-07-29 00:42] dthree commented on #161
Hey thanks!

That's a good idea. You should write and publish Vorpal extension that does that - I think people would find that very useful! You could call it `vorpal-version`. It would be implemented like this:

[code]

This would simply run the above code sample you wrote and inject a new `version` command into Vorpal.

[Here are the docs on writing extensions](https://github.com/dthree/vorpal/wi

[2016-07-29 22:05] alansouzati commented on #161
Thanks, i think i got it. i will write a PR for that early next week.

[2016-08-01 16:29] sheerun opened #163 "TypeError: Cannot read property 'substring' of undefined"
I get following error when running node app using vorpal with docker-compose. I use following `docker-compose.yml`:

[code]

`dist/index.js` is just a simple script express server with vorpal attached. It works outside of docker.

[2016-08-01 17:16] JimmyBoh commented on #134
Should we use @Maxtoros's `process.stdout.write(...)` or @dthree's `this.log(...)` for that?

[2016-08-01 18:02] JimmyBoh commented on #134
I just tried this on Windows 10 and it exits my app completely. Any ideas?

[2016-08-01 19:07] Maxtoros commented on #134
@JimmyBoh  I used Windows 10 while working with my solution ( ConEmu with 2 tabs : Cygwin Bash + CMD)

[2016-08-01 20:58] dthree commented on #134
@JimmyBoh probably `this.log`.

---

What exactly exits your app?

[2016-08-01 20:59] dthree commented on #163
Can you print the whole stack and any additional related code?

[2016-08-02 07:27] alansouzati opened #164 "Prompt is not working with Vorpal parse"
If my command has a prompt and I'm using vorpal parse, I cannot get the prompt to display the question and the CLI finishes without any log or error which makes it harder to debug.

[code]

**This does not work**

`node cli.js fakeCommand`

**This works**

1. `node cli.js`
2.  `fakeCommand`

[2016-08-02 07:31] alansouzati commented on #164
`_activePrompt` is undefined inside CommandInstance

[2016-08-02 07:32] alansouzati opened #165 "Control + C inside prompt is not canceling the execution"
If I presse control + c when I get a prompt, instead of canceling the command execution it continues with the default setting.

[2016-08-02 07:41] alansouzati commented on #164
In here https://github.com/dthree/vorpal/blob/master/lib/ui.js#L175

it returns because parent is undefined. This explains the silent exit

[2016-08-02 07:54] sheerun commented on #163
I was unable to retrieve the stacktrace, but here's gist to reproduce the error:

https://gist.github.com/sheerun/474c852350c217fbdf0c9bd954ec7c3f

The command to run is `npm install && docker-compose up`

[2016-08-02 07:54] sheerun commented on #163
This only happens when enabling cli terminal with `show()` command.

[2016-08-02 08:02] sheerun commented on #163
I needed to edit vorpal to catch the error. It's too bad you don't re-throw exceptions, but swallow them :(

[code]

[2016-08-02 08:04] sheerun commented on #163
To be honest, it's hard to enable cli in `docker-compose`, as it outputs logs and is not interactive, but I'd expect appropriate notification instead of such weird error.

[2016-08-02 16:15] dthree commented on #163
Thanks. This is interesting - it's hitting some sort of conflict in `Inqurier.js`. Will check out further.

[2016-08-02 16:18] dthree commented on #163
` var strBeforeCursor = this._prompt + this.line.substring(0, this.cursor);`

`this.line` is undefined in the `readline2` module. Something like this usually happens when another module is already messing with `readline`, and it creates conflicts. I'm not very familiar with `docker-compose`, so I'll check out further.

--

Can you try to reproduce this with straight-up Vorpal and not Vantage? Wond

[2016-08-02 16:19] #164 closed

[2016-08-02 19:53] JimmyBoh commented on #134
@Maxtoros exact recommendation:

[code]

There was no exception, it just instantly cleared everything and exiting the vorpal context (returned back to regular `cmd.exe`).

[2016-08-02 21:24] sheerun commented on #163
It happens only with vantage

[2016-08-02 23:03] Offirmo commented on #149
Same problem. Answered as the 1st entry in nodemon FAQ https://github.com/remy/nodemon/blob/master/faq.md#nodemon-doesnt-work-with-my-repl

If using the "restartable" option, nodemon takes over stdin to catch the manual restart command. Using ` "restartable": false` solves the problem.

[2016-08-03 05:08] alansouzati opened #167 "Undefined is being printed after latest release"
Whenever my vorpal is displayed I'm experiencing the scenario where I have the delimiter plus an undefined into parenthesis:

[code]

It seems this was an issue introduced after this commit:https://github.com/dthree/vorpal/commit/f8646d0a3b31630396f2cf64e5075e10e4e60835

The idea I guess is to show the default value for prompts, which is really nice. I believe the check should not be only for null

[2016-08-03 11:07] hrbu opened #170 "Option parsing works unexpected since v1.10.0"
Since version 1.10.0 vorpal seems to have a bug when parsing options from the passed arguments. Until v1.9.7 it works as expected. Since v1.10.0 (including the currently latest v1.11.3) the values of options are not parsed correctly.

I have a command like this ...
[code]

vorpal-1.9.7
------------
passed args:
[code]
vorpal parsed args:
`{ options: { tail: 100 }, cluster: 'dev' }`

vorpal-1.10.0

[2016-08-05 00:55] #167 closed

[2016-08-06 14:01] sramam opened #171 "provide a direct cli mode"
Vorpal is great when humans are using the cli. However, most cli's have a mixed mode usage - humans and scripts. What would be great is for vorpal to recognize which mode should be invoked and do the needful by default.

Currently, this is the work that needs to be done to make this happen:

[code]

In usage, this is what it would look so:
- direct cli mode

[code]
- interactive cli mode

[code]

[2016-08-06 16:14] dthree commented on #171
[What about `vorpal.parse`?](http://stackoverflow.com/questions/33489201/is-it-possible-to-create-a-vorpal-application-which-the-commands-output-goes-di)

This will execute a command and then exit. If you also want to do interactive, you can add in a quick check:

[code]

[2016-08-06 16:27] dthree commented on #170
What happens if you edit your command like this:

[code]
Can you please try this and post the result?

[2016-08-06 16:33] dthree commented on #149
@dkebler can you try that and let me know?

--

I threw this in the Wiki:

https://github.com/dthree/vorpal/wiki/Docs-%7C-Integration

[2016-08-06 16:33] #149 closed

[2016-08-06 16:35] dthree commented on #163
Hmmm. Okay got it.

[2016-08-06 17:59] sramam commented on #171
After some experimenting, this is the best I could get working.

[code]

Sure it's only one check and a few lines, but it take a bit to grok all the nuance.

The painful part is the interactive detection, which is littered through all the command implementations. I can see how that would be a recipe for time-consuming bugs.

IMO, this dual mode use of CLIs is pretty common and should be the defaul

[2016-08-08 12:48] allmarkedup opened #172 "vorpal.parse() method has breaking changes to behaviour in 1.11.4"
v1.11.4 seems to have had a breaking change in the behaviour of the `vorpal.parse()`. Prior to this version this method parsed the command string but did not attach a UI, which was great because (as I was using it) commands could be triggered directly if required (for instance when running tasks on a server), instead of dropping into 'interactive mode'.

Since 1.11.4 this is no longer the case. Is

[2016-08-08 13:18] hrbu commented on #170
vorpal-1.10.0 && vorpal-1.11.4
-----------------------------------
vorpal parsed args:
`{ options: { tail: 100}, cluster: 'dev' }`

OK. When providing a parameter for the option, vorpal parses the value as expected.
I would prefer any option declaration without parameter to be handled as an optional one.

[2016-08-08 16:39] JimmyBoh commented on #134
I actually just tried the same thing with `vorpal.ui.redraw.clear` and even that made my app immediately exit without any error or other indication of failure.

[2016-08-08 20:09] dthree commented on #170
@hrbu this creates additional problems, and this is why this change was actually a bug fix. Is it possible to simply amend your app to include declaring the parameters? Thanks.

[2016-08-08 20:09] #170 closed

[2016-08-08 20:10] dthree commented on #172
We're about to fix this. Please see this existing issue:

https://github.com/dthree/vorpal/pull/169

[2016-08-08 20:10] #172 closed

[2016-08-08 20:53] allmarkedup commented on #172
Ah perfect - I must have somehow missed the other issue in my skim through the list. Good to know that you are on it.

Vorpal is awesome, btw. Great work.

[2016-08-09 06:47] hrbu commented on #170
Yes, possible. Thanks for your support.

[2016-08-10 16:58] lsjroberts opened #173 "End vorpal.ui.redraw loop on keypress?"
I have a command like:

[code]

How would I listen to a keypress, say `q`, and then run `vorpal.ui.redraw.done()`?

I have tried using

[code]

However the chunk doesn't come out with just the `q` character. Is there a built-in way of doing this? The only option so far is to press `Ctrl+C` and exit the whole of vorpal.

[2016-08-11 10:49] lsjroberts commented on #173
I've found a solution for this. My primary problem was that I was forgetting to call the callback `next()`.

This allowed me to read `process.stdin.on('keypress', ...)` correctly and listen for `Ctrl+C`.

[code]

[2016-08-11 10:49] #173 closed

[2016-08-11 16:15] dthree commented on #173
Smart! Thanks for sharing the solution. :+1:

--
BTW the closest thing I've done to this is `vorpal-less`:

https://github.com/vorpaljs/vorpal-less/blob/master/src/less.js

[2016-08-13 02:31] tocttou opened #174 "vorpal.parse() not working"
version: 1.11.4
node version: 6.3.1

I am following the docs but `vorpal.parse()` seems to be broken. Can you please tell me what is wrong here? Thanks.

index.js

[code]

Terminal output:

[code]

[2016-08-22 08:56] devinus opened #175 "Adding any function to Array prototype borks Vorpal"
Many packages (unfortunately) do this:

[code]

[code]

[2016-08-22 08:58] devinus commented on #175
https://github.com/dthree/vorpal/blob/ff19d3600f47a6a568b6e5477c8c738523a39b54/lib/util.js#L307

Looks like you're using `_.keys` on an array?

[2016-08-22 09:09] devinus commented on #175
Pinging @scotthovestadt as I believe this commit is what changed behavior to surface this. (Vorpal 1.10 did not exhibit it.)

[2016-08-22 16:52] avivbeeri commented on #137
I'd really like this feature, especially as I use Vorpal to provide an interactive environment for managing a database. Being able to safely close a connection on exit or sigterm would be wonderful.

[2016-08-27 14:29] wendellm commented on #158
uhm what's the status of those vorpal dt's?

[2016-08-28 11:01] chrisui commented on #174
@tocttou I *think* you may have to process the args before passing into `parse` first. Ie. to get rid of `[node, src/index.js]`

I've been doing the following:

[code]

Before I was running as you were, just passing raw argv and saw the same error. **However** now I am currently seeing my program execute without actually running any commands although I see no error. :(

[2016-08-28 11:17] chrisui commented on #171
I am also having some troubles getting this sort of behaviour to work at all. My code looks like the following:

[code]

Running the following works fine:

[code]

However the following just doesn't run anything and has no error. Note when I added a `.catch()` in to test it *was* hit, but why am I not seeing any error? The args look sound.

[code]

[2016-08-28 11:48] chrisui commented on #174
Note I've documented my issue more thoroughly over in https://github.com/dthree/vorpal/issues/171

[2016-08-28 13:36] sramam commented on #171
I never replied to the use of vorpal.parse().
My issue with it was that it drops me into the app prompt. There seems to be no way to change this behaviour without fiddling with the command implementation.

[2016-08-29 15:56] chrisui opened #176 "Progress bars within vorpal"
Hey! Firstly, to the maintainers and contributors, awesome library. This is my first time venturing into making any sort of cli tooling and vorpal has made it an absolute dream to work on - so much fun!

Secondly I was wondering if anyone have any recommendations for handling progress bars within my vorpal commands? I am using [progress](https://github.com/visionmedia/node-progress) and it seems t

[2016-08-29 23:31] JimmyBoh commented on #158
Sadly I have not started on them. But I have relearned the majority of the API(forgot a lot since the last time I used it), so I should be able to get a very basic file set up with the most common methods. I will work on them tonight and get them pushed out. Then make incremental updates.

[2016-08-30 07:07] tobilg commented on #176
I also use `progress` for progress bars together with `vorpal`. So far, I didn't encounter any problem, but also would appreciate a way to integrate this better...

[2016-08-30 09:53] tobilg commented on #176
I had a look at the sources, and you can pass the progress module a `stream` property, which it will then [use as output stream](https://github.com/visionmedia/node-progress/blob/master/lib/node-progress.js#L43).

Unfortunately I didn't find  way to access the `console.log` stream of `vorpal` because IMO it's not exposed.

[2016-08-30 13:37] JimmyBoh commented on #158
So as promised [I did get a basic definition file started](https://github.com/JimmyBoh/DefinitelyTyped/tree/master/vorpal), but it is far from ready. I will try to work on it some more and get all the data structures in place today. Once I have the bulk of the API laid out I will make a PR to @DefinitelyTyped. Then we can go back to add the doc comments and any missed methods.

_Basic process so f

[2016-08-31 13:12] bilbercode commented on #124
I have also experienced this issue, I resolved by returning only the post suffix options so the autocomplete would function correctly.

for example

[code]
There is also a bug relating to when the user inputs ```$ foo/b``` with the given options of ```["baz", "bang"]``` in that the autocomplete resolution craps out a little and removes the prefix ```foo``` from the result.

I have made a pull requ

[2016-09-04 08:00] Arthelon opened #178 "Add .types() for command arguments"
Command arguments are automatically assigned a type but there doesn't seem to be any support for explicit typing like with options. When entering in a phone number with special characters like so:
[code]

the argument "number" is converted to a number, omitting the + symbol. Furthermore, I think the .types() function available for options should also support command arguments.

[2016-09-19 09:00] tocttou opened #180 "Allow exit when no option is matched"
[code]

This does not drop out of the shell if the supplied option is incorrect.

[2016-09-21 09:19] nitin42 opened #181 "Little typo in your Try it out! section."
A little typo in your Try it out! section of website. It should be ```args.stdin.toString().split('').reverse().join('');``` demonstrating the use of piping.

[2016-09-29 21:36] moustacheful opened #183 "Options not working as intended?"
Given the following task

[code]

Upon attempting execution and successfully getting the autocomplete options, the arguments list the option as `true` instead of the intended value.

eg:

[code]

Which logs the following as a result:
[code]

This is the case regardless if `option` is given an array / function / promise
Am I doing something wrong? docs error maybe?

[2016-09-29 21:43] #183 closed

[2016-09-29 21:46] moustacheful commented on #183
Reminder to self: [RTFM](https://github.com/dthree/vorpal/wiki/api-%7C-vorpal.command#commandoptionstring-description-autocomplete)
Didn't realize the option definition needed an optional or required parameter if you need the value.

My bad!

[2016-10-08 01:19] sandalsoft opened #184 "List filter on fuzzy search"
Crosspost from http://stackoverflow.com/questions/39925201/interactive-fuzzy-search-filter-on-list-with-vorpal.  I know you like questions posted on SO for better Vorpal visibility, but I'm posting it here also in case any contributors have any ideas.  If that's not appropriate, feel free to close.

First off, great framework!  I really want to use it for my current project, but I'm not sure my us

[2016-10-08 16:16] dkebler commented on #149
just now saw this.  Thanks! working like a charm!

[2016-10-13 03:53] vincentsong commented on #158
I am working with VisualStudio Code, the dt is really helpful.  This task is really handy for me.

[2016-10-25 18:10] komplexb opened #186 "how do i unit test a vorpal app?"
Can anyone offer advice on unit testing a vorpal app? I'm unclear on how to setup my assertions. i.e. what do I run to get values to compare against?

http://stackoverflow.com/questions/40247962/how-do-i-approach-unit-testing-a-vorpal-cli-app

[2016-10-25 18:46] Shakyamuni177te commented on #186
Will be interesting to see if this is a documentation or a feature request issue. :)

[2016-10-25 19:11] komplexb commented on #186
@Shakyamuni177te lol, well i did see a "questions" label. I'll cross post to the SO channel.

[2016-10-28 15:24] LongLiveCHIEF opened #187 "Maintainer Request"
I'd like to become a maintainer/owner of this project.  Much :heart: for it, and I have used it so many times over the last year, that I don't want to see it fade away.  I can also host or maintain the website/domain if needed.

[2016-10-28 23:06] LongLiveCHIEF commented on #186
If I wrote unit tests for each of the projects in the [examples](../tree/master/examples), would that help answer this question?

[2016-10-29 01:52] komplexb commented on #186
@LongLiveCHIEF that would be neat, thanks. @dthree also pointed to the tests on [Cash](https://github.com/dthree/cash/tree/master/test), but i haven't checked it out yet.

[2016-10-29 06:35] tocttou commented on #180
No update here since then.

[2016-10-31 20:22] HarelAshwal opened #190 "Added ability to disable/ignore Ctrl+C"
LK"I

Hi All,

Have you ever considered adding the ability to disable/ignore Ctrl+C ?
I'm having application that the management console should always active. (and exiting options should be disabled)

Harel

[2016-11-10 09:55] Radiergummi opened #193 "Showing delimiter on the right side of the terminal"
I'm trying to abuse vorpal for a chat client and use `.catch('[input...]')` to grab a chat message the user may have entered. Is it possible to show `send` on the lower right side of the terminal by relocating the delimiter maybe?

[2016-11-11 14:49] apostolos opened #194 ""This socket is closed" error in Node v7.1.0 (Windows only)"
Calling vorpal.show(); in Node v7.1.0 throws the following error:
[code]
In macOS/Node v7.1.0 it works fine.

[2016-11-11 23:13] SteveEmmerich commented on #187
Hi @LongLiveCHIEF I would like to join you in maintaining this project. Could I be of help or do you have it under control?

[2016-11-12 02:35] LongLiveCHIEF commented on #187
I haven't received a response back from @dthree yet, but I'll let you know when I do.

[2016-11-12 04:20] praxiq commented on #156
Maybe something has changed, but this does *not* work for me. Calling "parse" parses one command, then stays in the CLI, even without a "show."

The code in the SO answer works for me, only because it forgets to call the callback at the end of the command! However, if I type any other command as an argument, it stays in the CLI after parse() completes.

[2016-11-13 03:17] praxiq commented on #171
I'm struggling with this, too. I found a few simplifications to the above:

1. To check whether the app was called with command-line arguments, I just check if the last element of `argv` ends with the expected name of the app. This isn't bulletproof, but at the very least it should handle simple cases correctly without resorting to minimist.
2. Immediately after `vorpal.parse()`, I call `process.e

[2016-11-17 17:53] k0pernikus commented on #158
@JimmyBoh @dthree It'd be awesome for the typings to live in the [`@types`](https://www.npmjs.com/~types) package on npm, so that one could simply run `npm install @types/vorpal`. As of typescript2, one doesn't need typings anymore.

[2016-11-17 19:19] JimmyBoh commented on #158
Actually @k0pernikus, the @types namespace on `npm` is automatically populated from the DefinitelyTyped repo. But it does mean one less tool to mess with, goodbye `typings`!

[2016-11-18 08:45] chasset commented on #171
I agree with these comments. Actually, I plan to develop one part with `vorpal.js` for its excellent interactive shell and another part with `args.js` with its traditional one line command. I will try the solution of @praxiq before this cumbersome solution.

[2016-11-19 18:37] marcos-abreu commented on #69
I've just created a PR that hopefully fix the issue. I've tested in one project I'm working and it fixes the issue on the 3 instances I'm validating.

[2016-11-19 21:26] giocodes opened #196 "Regex syntax for command names"
Is it possible to use regex syntax to define the name of a command, for example:
`vorpal
    .command(/\d/) // accepts any digit
    ...`

The use case for this is to have dynamic commands that could include extra logic depending on the combination of words or digits.

A workaround could be, once the program is running through vorpal.show(); allow input without command and run them through a defau

[2016-11-21 20:04] cdekok commented on #158
would be nice if they pull request can be done? something still missing from the definition file ?

[2016-11-21 20:14] JimmyBoh commented on #158
@cdekok Yeah, a lot of testing and deeper APIs must be added. I will take a look tonight. Does anyone know how DefinitelyTyped feels about partial definitions?

[2016-11-27 18:35] devsnek opened #197 ""undefined" and .catch"
if i put in some text that will be handled by vorpal.catch, and it contains "undefined", this error is thrown

[code]

[2016-11-28 22:41] LongLiveCHIEF commented on #187
Withdrawing per comments in #189

[2016-11-29 06:47] dthree commented on #187
Hi, so sorry. Just seeing this. Are  you two still interested in this?

[2016-11-29 19:08] LongLiveCHIEF commented on #187
Yep, absolutely.  I also close PR #189 which I can reopen after adding @SteveEmmerich's info to the maintainers block if you'd like.

[2016-11-29 22:56] dthree commented on #187
Okay, great!

Most wanted right now is closing simple issues and PRs, without changing major functionality. I'll try to put in some time soon to catch up and go over more with you.

For any breaking changes, please get with me before committing, until you've gotten some more familiarity with the project.

Sound good?

[2016-11-30 21:43] ccorcos opened #198 "Command.chain / Command.bind / Command.use"
I'd like to request a simple feature that will make Vorpal a bit more composable.

[code]

It's effectively a monadic bind.

[2016-12-01 01:27] ccorcos opened #199 "Using Vorpal without `show`"
There are a few quirks I've been noticing when using Vorpal without `.show()`.

- without `process.on('SIGINT', () => process.exit(2))`, it doesn't always properly exit and I'm left in some weird limbo where `ctrl-c` will just print `^C`. Even when I kill the process, `ctrl-c` still doesnt do anything but print. its bizarre.

- if you run a command with incorrect parameters, you're left inside the

[2016-12-01 01:37] ccorcos commented on #199
That said, I'm using a Vorpal command to run an express server and I'd like to be able to listen for a kill signal, close the server, and return a promise to do other cleanup. This whole SIGINT thing is cuasing problems... :/

[2016-12-03 18:39] LongLiveCHIEF commented on #198
What if the command instance could be treated like an array?  You could use `command.push(pizzaoptions)` instead?

[2016-12-04 03:44] johnthepink commented on #186
@komplexb I unit tested [launch](https://github.com/NewSpring/meteor-launch), but I do not claim they are elegant :)

[2016-12-04 20:08] ccorcos commented on #198
That works too, but `use` would be more generic / extensible. It would be used for not just options but anything :)

[2016-12-09 04:43] mbanduk commented on #29
Could you guys explain how to do so?

Thanks

[2016-12-12 17:58] minhchu commented on #199
hope your PR works
[this solution](http://stackoverflow.com/a/33489770/6272893) used to work but not the lastest version of vorpal

[2016-12-12 18:05] minhchu commented on #187
This package is great. Hope you can continue to maintain it :+1:

[2016-12-14 21:27] cggaurav opened #201 "Have prompt available on the Vorpal class not the instance"
I'd prefer if we can define the prompts separately and not have it as a method on the command instance, separating concerns. This is an enhancement :)

[2016-12-14 23:30] cggaurav opened #202 "Required parameters for a command does not exit."
I am returning promises for a command.

![](http://d.cggaurav.net/fa8U+)

[2016-12-14 23:54] cggaurav commented on #202
OK, so it goes into the prompt. How can I make it exit the prompt too?

[2016-12-15 07:54] Shakyamuni177te commented on #202
Ctrl + C?

On Wed, 14 Dec 2016, 23:54 Gaurav C, <notifications@github.com> wrote:

[2016-12-15 15:29] cggaurav commented on #202
This is related to https://github.com/dthree/vorpal/pull/200 cc @Shakyamuni177te

[2016-12-15 18:00] dthree commented on #187
Thanks @minhchu . I'm hoping to find some time in the future to do a number on it and clean up all issues.

[2016-12-15 23:08] cggaurav opened #203 "Group commands not working?"
I have multiple commands that start with collection though I don't see the group in help as described here https://github.com/dthree/vorpal/wiki/api-%7C-vorpal.command#multi-word-commands

![](http://d.cggaurav.net/1fKdK+)

[2016-12-20 23:59] MatthieuLemoine commented on #203
There are not always grouped. I think it depends on the number of commands and your terminal size.

[2016-12-21 00:04] MatthieuLemoine commented on #201
If you talk about this.prompt, it's a shortcut to [inquirer](https://github.com/SBoudrias/Inquirer.js) prompt. You can acces it with``require('inquirer').prompt``.

[2016-12-21 00:17] MatthieuLemoine commented on #190
If you want to disable CTRL+C you can remove all keypress listerners on process.stdin :

[code]

See [Node documentation](https://nodejs.org/api/events.html#events_emitter_removealllisteners_eventname) for more information.

[2016-12-21 00:52] MatthieuLemoine commented on #184
The problem is that what you are trying to achieve is not a vorpal command as you need stdin to be in raw mode.

You could use the autocomplete with your own autocomplete function and implement your fuzzy search in it :
[code]

It would work but autocomplete results are not displayed in a list and you can't scroll autocomplete items with arrow keys.

Another solution is to implement a custom promp

[2016-12-21 15:27] LongLiveCHIEF commented on #190
In addition to @MatthieuLemoine 's observations, it's also important to note that a vorpal app is actually a collection of vorpal instances. You can use the show and hide methods to get rid of the delimiter, while still keeping the app itself running, all without using the interrupt of Ctrl-C.

[2016-12-26 00:03] jstrika opened #204 "Refresh delimiter on no command (just hit Enter)"
Hi,

It might be one of the questions already asked, but could not find the answer.

How to capture dialog without any arguments? I tried with parse and catch, but its not triggered on event without any arguments.

Why I need it? I'm using delimiter to represent the status of my app, which can also be changed using web interface. So I would like to refresh prompt on RETURN

[2016-12-26 14:55] MatthieuLemoine commented on #204
You can update the delimiter using
[code]
If you want to update it on Enter press you can add a ``keypress`` listener to ``process.stdin``:
[code]

[2016-12-28 04:07] jstrika commented on #204
Great, works as advertised.

Thanks!

[2016-12-28 04:07] #204 closed

[2016-12-29 17:03] ahz commented on #133
According to comments in #35 the workaround can also be to reject promises with `new Error()`.

[code]

[2017-01-01 14:20] soletan commented on #137
+1

I've checked the sources and find Vorpal API _incomplete_: Since `vorpal.command()` is always creating and registering another command there should be some option to access any previously registered command e.g. to remove it as advised in warning emitted on trying to re-register custom version of `exit`. That might help with replacing Vorpal common commands. Of course, there is `vorpal.command

[2017-01-01 21:45] ozzie1998 opened #205 "compatibility issues when using JXCore."
trying to start the app with JXCore results in:

    `const vorpal = require("vorpal")();
       ^^^^^
    SyntaxError: Use of const in strict mode.`

[2017-01-02 08:42] MatthieuLemoine commented on #205
@ozzie1998 Use ``var vorpal = require('vorpal')();`` instead

[2017-01-02 09:34] ozzie1998 commented on #205
Any idea what could cause the slow startup? it takes a good few seconds to start.

[2017-01-02 15:38] MatthieuLemoine commented on #205
It depends on your app, your computer, your CPU load...

My app takes between 1s and 4s to start. It includes parsing and execution time.

[2017-01-02 15:39] ozzie1998 commented on #205
Okay, thank you. I guess a 1.7ghz is not the best then.

[2017-01-08 01:30] patrickhousley opened #206 "execSync command history"
Is there a way to call execSync without having the command entered into the command history? I have a few situations where I chain commands and it causes the history to be polluted with commands the user didn't actually run (knowingly).

[2017-01-09 08:58] MatthieuLemoine commented on #206
I don't think so, ``exec`` is event used in history's unit tests.

[2017-01-13 17:10] mrpatiwi commented on #29
How to add context? Would be helpful for future users

[2017-01-18 03:01] sidorenkobw opened #207 "Need to disable options validation for .catch command"
Hi guys,

My idea is to create a shell which extends my current system shell. So I create my commands in vorpal and I want every input which is not a registered command to be executed in current system shell.

So I do the following:

[code]

It works fine unless I am trying to run some system shell command with options, like:
`ls -l`

In this case validation doesn't allow to run this callback sayi

[2017-01-18 09:19] MatthieuLemoine commented on #207
I didn't find a way to disable options validation but I found a workaround to this issue by using ``parse``. The idea is to replace whitespaces by whatever delimiter :
[code]

[2017-01-18 21:49] sidorenkobw commented on #207
Thank you, Matthieu!

As for vorpal, I think that ignoring options validation would be more logical way for processing catch command rather the current one. I also suggest to add ability to ignore options validation to any command in case if some one wants to make it in dynamic way.

Awesome project, BTW. Great job, guys!

[2017-01-19 08:56] MatthieuLemoine commented on #207
My bad there is a way to disable options validation, see #144.
You just have to call ``allowUnknownOptions()`` :

[code]

[2017-01-19 23:20] sidorenkobw commented on #207
Thank you Matthieu! Looks like it's not documented.

[2017-01-20 01:51] #207 closed

[2017-01-20 09:22] MatthieuLemoine commented on #207
Added in the Wiki : [allowUnknownOptions](https://github.com/dthree/vorpal/wiki/API-%7C-vorpal.command#commandallowunknownoptions)

[2017-01-20 19:40] postatum commented on #178
I would also love to use this feature. Faced this issue when trying to specify API version using number wrapped in brackets like `"1.0"`. It got converted to number `1`.

[2017-01-22 01:25] davebryson commented on #178
Same for me.  Is there any workaround?  I'm having problems with hex strings such as:
`"0x4e47e95247a535d9c1ed9e5a73f1344a5d864383"`
Being converted to a number:
`4.469049581943643e+47`

The only alternative is to use a `type` with an `option` but this is a little awkward for the CLI I'm working on.

[2017-01-22 06:49] jstoiko commented on #178
maybe arguments that are quoted should be passed as strings, at least.

[2017-01-22 23:34] soletan commented on #171
@dthree "What about vorpal.parse? This will execute a command and then exit."

Well, curiously, this simply isn't true. Using `vorpal.parse()` UI gets attached and obviously is kept attached afterwards. IMHO another API design flaw arises from invocation of `vorpal.exec()` contained in `vorpal.parse()` doesn't pass returned promise out of `vorpal.parse()` so any caller might wait for `vorpal.parse

[2017-01-22 23:42] soletan commented on #171
@praxiq Your approach might have worked out if `vorpal.parse()` would properly return the result of internally invoked `vorpal.exec()` so your code might wait for the whole process to finish. Currently the approach fails to support any asynchronous processing which is a total no-go in the world of javascript.

https://nodejs.org/api/process.html#process_process_exit_code is commenting:

[2017-01-25 08:09] postatum commented on #178
Hello again dear contributors.

@dthree, I'm ready to implement this feature/bugfix and I was wondering if you would be willing to accept my contribution.
If you would, please share your opinion on this issue and maybe some guidelines if you think this issue makes sense.

Thank you! :)

[2017-01-25 12:31] tsm91 commented on #171
why not simply register an evt listener?

[code]

[2017-01-27 02:28] sidorenkobw opened #209 "Process keystrokes while command is running"
Hi guys,

How can I process keyboard events while my command is running (promise is returned). vorpal.on("keypress"...) works only when prompt is available.

Thank you

[2017-01-27 03:30] sidorenkobw commented on #209
A small note. In my command I spawn a child process which works in a background. I tried different stdio options, like: omitting, ["ignore", "pipe", "pipe"], ["ignore", "ignore", "pipe"], ... In each case my keypress handler is called after command is finished.

[2017-01-28 04:41] sidorenkobw commented on #209
I found a work around for this by calling:
stdin.setRawMode(true);
stdin.resume();
But after this ctrl+c is not working anymore
How can make it work back again?

[2017-02-09 09:35] postatum commented on #178
Greetings to everyone having this issue.

I've discovered a way to parse params as strings. Hopefully this will be useful to someone.
Note: This enables such behavior per-command and parses ALL params(non-options) as strings.

So the solution is - add `"_"` to your `string` types by calling `.types({string: ['_']})`.

Examples:

If you already have `.types()` call add `"_"` to its "string":

[code

[2017-02-10 19:29] camacho opened #210 "access un-parsed args in command"
First, thank you so much for all the work on this! It has been a really awesome experience using this framework for my project.

I'm trying to figure out if there is a way to access the raw argv in a command action? For my case (which others might have), I am trying to take the args and pass them through to an exec:

[code]

[code]

In this case, Jest is expecting the args to be passed in as a raw

[2017-02-10 22:56] MatthieuLemoine commented on #210
Can you provide an example of command you run to launch vorpal with arguments and what are the values  you get in the ``args`` and the values you would expect.

[2017-02-11 10:09] camacho commented on #210
sure - for the use case, I am simply starting up the script by running Node

[code]

Then, once in the running application, I want to execute the test command with some arguments:

[code]

I want Jest to be called with those flags:

[code]

Right now, I only have access to the parsed `args` in the action:

[code]

It would be great to also have access to the unparsed args (like we do with `process

[2017-02-15 17:38] Asiron opened #211 "Strange undefined behavior - TypeError: Cannot read property 'prototype' of undefined"
I get this strange error, when I try to import a JS file, which was written in ES6 and transipled to ES5. I was trying to debug, why exactly `inquirer.prompt.prompts[promptType]` gives me `null` and I found out that for some reason after `UI._loop` goes through all `var prompts = ['input', 'checkbox', 'confirm', 'expand', 'list', 'password', 'rawlist'];` it then receives `key = 'min'` ? and conseq

[2017-02-15 17:50] Asiron commented on #211
Problem goes away if I `require('vorpal')()` before my other files

[2017-02-23 17:02] postatum commented on #210
Hi @camacho.

You can get access to raw command and args string inside [vorpal command's parse()](https://github.com/dthree/vorpal/wiki/api-%7C-vorpal.command#commandparseparsefunction) method. Though you would have to think how to pass that data to your `action()`.

[2017-02-23 17:10] ozzie1998 opened #214 "Suggestion: Support for command names from an array"
example,

`vorpal.command(CommandString)//etc`
where CommandString is a string, or the result of json.stringifying the contents of a json file. Would be really useful.

[2017-02-24 02:56] #205 closed

[2017-02-24 08:42] MatthieuLemoine commented on #214
``vorpal.command`` already takes a string as argument. What would be the content of your json file ?

[2017-02-24 09:34] PeterDavidCarter opened #215 "Feature request: Ruby gem"
Given the major improvements to Ruby on Rails in the last two versions, to the point it has eclipsed even Node based web solutions even it its areas of historical weakness (e.g. post-deployment speed) I plan to work primarily in Ruby from now on, and foresee many others doing the same. This will likely also affect my preferences in CLI apps, and when I begin writing these it will be in Ruby as fir

[2017-02-24 10:25] MatthieuLemoine commented on #215
You should check : https://github.com/markets/awesome-ruby#cli-builder

[2017-02-24 16:21] ozzie1998 commented on #214
something like,

`
{
 "command":"edit"
}
`
the .json file would contain all the possible commands, but only require a single command code block, if you know what I mean..

[2017-02-24 16:23] ozzie1998 commented on #214
I meant an array, apologies.

[2017-02-25 00:49] radixzz opened #216 "Variadic and optional argument case"
Hi everyone!

Not sure if the following behavior is by design but:

[code]
with the input `cmd 1 2` will parse the args inside action without the 1:

[code]

Is this a bug? or am I misusing the variadic and optional arguments?.
Thank you!

[2017-02-25 07:23] mke66djx opened #217 "Tab-tab to get a list of commands, not working properly when using multiple instances of Vorpal"
Hi guys, I recently found what I think is an undesired result when using tab-tab to get available commands while using multiple Vorpal instances. Using the exact example on the Vorpal page(http://vorpal.js.org/) (customization example), if you simply create two lists of commands to use via .use, and run the below you will get all of the functions for all instances and it will essentially display t

[2017-02-25 07:44] mke66djx commented on #217
Adding on to this; a further look and it seems that the problem can be observed even when doing something like the below. If run as is and hit tab twice, you will get two sets of the available commands. If you emit the chalk line however you will see the correct output when hitting tab twice

const Vorpal = require('vorpal');
**const chalk = Vorpal().chalk;**

const unicorns = Vorpal()
    .delimi

[2017-02-25 08:12] postatum commented on #214
@ozzie1998 you could do similar tothis using [.alias()](https://github.com/dthree/vorpal/wiki/api-%7C-vorpal.command#commandaliasname-names)

[code]

[2017-02-25 09:21] ozzie1998 commented on #214
On Sat, 25 Feb 2017 at 8:12 am, Artem Kostiuk <notifications@github.com>
wrote:

This is for an app I'm working on where the user can provide their own
commands, that would not work.

[2017-02-25 09:39] postatum commented on #214
I guess I'm out of your app context, but aliases seem to fit your need.
When you need to use single string for command - just pass it to
`vorpal.command()`. On the other hand, when you want to use an array, you
can put its first element in `vorpal.command()` and rest of elements into
`alias()`.

25 февр. 2017 г. 11:21 AM пользователь "ozzie1998" <notifications@github.com>
написал:

[2017-03-02 02:26] goodevilgenius commented on #122
I know this is an old issue, but I just found it, while trying to figure out where this was stored.

I think using `os.tmpdir()` isn't a good idea, as, on some OSs (like Linux), this may default to a volatile directory. These files may not persist after a reboot.

I think the original suggestion of it being somewhere in the home directory is better. There's frequently a `.cache` directory in $HOME

[2017-03-02 18:45] goodevilgenius commented on #122
For reference, [this](https://github.com/yarnpkg/yarn/blob/master/src/constants.js#L41) is how yarn does it:

[code]
So, `getCacheDirectory()` returns `$HOME/.cache/yarn` on Linux, `%LOCALAPPDATA%\Yarn\cache` on Windows, and `$HOME/Libarary/Caches/Yarn` on macOS.

I think something like that would be a good option for vorpal.

[2017-03-07 19:29] spencewine opened #218 "variadic argument won't take 0 as first argument"
This appears to be a bug. If call the add command like this:

 _add 0 0 0 0 1_

I would expect an args.bills to equal [0,0,0,0,1]. Instead, args.bills = 0.

here is the code I used

`program`
  `.command('add [bills...]')`
  `.description('run addBills to register')`
  `.action(function(args, cb){`
    `cashRegister = Object.assign({}, cashRegister, totalBills(args.bills, 'Added'))`
    `showReg()

[2017-03-18 23:24] camacho commented on #210
@postatum is it possible to access the history from a command action?

[2017-03-19 15:44] MatteoGabriele opened #220 "UI Prompt called when already mid prompt"
I've recently discovered this issue prompting an array of questions.
It only happens after the first question and when _**ctrl + c**_ is pressed to be able to go out the prompt.

[code]

Error in the console

[code]

OS: macOS Sierra
node: 7.4.0
npm: 4.3.0
yarn: 0.21.3

[2017-03-19 16:00] MatteoGabriele commented on #220
Well I have apparently fixed it chaining the `cancel` method after the `action` one

[code]
Don't know if this is the proper way but I'm not blocked anymore.

Up to you if you want to close the issue because maybe you want to handle this problem in a better way.

And btw terrific project! I really like it a lot!

[2017-03-20 08:05] postatum commented on #210
@camacho not sure, I didn't try. There's this feature, maybe it will be helpful - [vorpal.history](https://github.com/dthree/vorpal/wiki/API-%7C-vorpal#vorpalhistoryid)

[2017-03-22 10:50] MatteoGabriele commented on #186
I'm dealing with the same problem: no idea where to start.

It's impossible to test using something like`child_process.execSync`: the output result is full of extra characters and you can't do a comparisons with that.

The problem also comes when you combine `inquirer` prompts in your cli.
Any nice documentation for all this?

thanks! :)

[2017-03-22 15:24] komplexb commented on #186
Someone suggested I take a look @ https://github.com/dthree/cash/tree/master/test

I haven’t tried it yet, but I hope that helps.

________________________________
From: Matteo Gabriele <notifications@github.com>
Sent: 22 March 2017 05:50:36
To: dthree/vorpal
Cc: Byron; Mention
Subject: Re: [dthree/vorpal] how do i unit test a vorpal app? (#186)

I'm dealing with the same problem: no idea where to

[2017-03-22 15:30] MatteoGabriele commented on #186
@komplexb thanks man! I was looking at it, but i can't spot an example using prompt. Have you tried?

[2017-03-22 18:11] sbeckwithiii commented on #171
@tsm91 , it seems that when an invalid command is passed the suggested 'client_command_executed' event is not fired. Hooking into 'client_command_error' seems to do nothing for us as well.

[2017-03-23 07:19] toadkicker commented on #171
I took all the comments under consideration and came up with this solution:

[code]

What this does is:
- `mycmd` returns help output and exits
- `mycmd /?` returns help output and starts interactive mode
- `mycmd some-cmd` is invoked and exits
- `mycmd some-cmd /?` outputs help info and exits

I personally like this behavior and it seems to work well as a mix of invoking interactive and direct in

[2017-04-02 06:24] omidfi commented on #216
I guess variadic arguments can be used only as the last argument

[2017-04-04 04:37] omidfi opened #221 "how to achive variadic options?"
Hi thanks for the nice project :)

I'm making an http cli tool and I need to be able to parse commands like this:

[code]

How can I approach this with vorpal? I tried using variadic arguments, but it didn't help as the headers are also variadic. I also tried to use a variadic option, so that after --header I could add multiple items, but that didn't work either.